
<div class="fullheight medium-grey-bg">
  <div class="callout light-grey-bg padding-center elevate">
    <div class="subtitle">
      Silahkan menambahkan pinpoint pada Alamat Anda
    </div>
  </div>
  
  <div class="flex-container">
    <textarea class="flex-item hidden" [(ngModel)]="fullAddress" [ngModelOptions]="{standalone: true}" readonly>
        </textarea>
  </div>

  <agm-map [latitude]="mapLatitude" [longitude]="mapLongitude" [zoom]="zoom">
    <agm-marker (dragEnd)="markerDragEnd($event)" [latitude]="pinLatitude" [longitude]="pinLongitude"
      [markerDraggable]="true"></agm-marker>
  </agm-map>

  <div class="callout padding-center white-bg">
    <button class="button primary expanded" *ngIf="isValid" (click)="confirmPinpoint()">Save Pinpoint</button>
  <button class="button secondary expanded" disabled *ngIf="!isValid">Please wait...</button>
  </div>

</div>