<app-top-navigation-bar [title] = title></app-top-navigation-bar>


<div class="padding-center" *ngIf="!isLoading">
    <div class="row small-up-1" *ngFor="let item of sale.products.items">
        <app-product-item [item]="item"></app-product-item>
    </div>
</div>

<div class="padding-center" *ngIf="isLoading">
    <div class="row small-up-1" *ngFor="let item of [].constructor(5)">
        <app-list-tile-with-image></app-list-tile-with-image>
    </div>
</div>

<app-lazy-loading *ngIf="!isLoading"
[resourceURL]="catalogSvc.saleURL"
(onSuccessRetrieve)="onSuccessRetrieve($event)">
</app-lazy-loading>
