<div class="callout border-bottom margin-bottom-05">
    <div class="flex-container">

        <div class="flex-item flex-05 margin-right-05 margin-left-05">
            <div class="avatar-image-placeholder">
                {{review.customer.name | slice:0:1 | uppercase }}
            </div>
        </div>

        <div class="flex-item flex-3 margin-rit">
            <div class="title">
                {{review.customer.name}} <span class="tiny-text italic cursive">( Verified Buyer )</span>
            </div>
            <div class="ratings margin-bottom-05"> 
                <span>{{review.value | number:'1.2-2'}} </span>
                <div class="rating-box">
                    <div class="rating" [style.width]="review.percent+'%'"></div>
                </div>
            </div>
            <div class="title">
               {{review.title}}
            </div>

            <div class="subtitle">
                {{review.detail}}
            </div>
        </div>
    </div>
</div>