<app-top-navigation-bar [title]=title></app-top-navigation-bar>

<div class="fullheight medium-grey-bg">
    <div class="callout navy-bg white padding-center  margin-bottom-05 elevate">
        <div class="white small-text">
            *Bayar dengan cicilan 0% sampai dengan 12 bulan & Garansi pengembalian
        </div>
    </div>

    <div class="margin-bottom-05">
        <app-customer-service></app-customer-service>
    </div>

    <div *ngIf="isLoading">
        <app-list-tile-with-image *ngFor="let item of [].constructor(3)"></app-list-tile-with-image>
    </div>



    <div *ngIf="!isLoading && cartData != null">
        <div class="callout padding-center white-bg border-bottom" *ngFor="let item of cartData.quote; let i = index">
            
            <div class="flex-container ">
                <div class="flex-item flex-1 margin-right-05" [routerLink]="'/'+item.url_path">
                    <img height="100px" width="100px" [src]="item.featured_image.image_2x" alt="">
                </div>
                <div class="flex-item flex-3 margin-right-05">
                    <div class="title" [routerLink]="'/'+item.url_path">
                        {{item.name}}
                    </div>
                    <div class="subtitle">
                        {{item.price | currency:'IDR':'Rp'}}.00
                    </div>

                    <div class="subtitle margin-bottom-1">
                        Cicilan dari {{item.price/item.installment_term | currency:"IDR":"Rp"}}.00 / bulan
                    </div>

                    <div class="subtitle margin-bottom-05" *ngFor="let option of item.custom_options">
                        {{option.label}}({{option.price | currency:"IDR":"Rp"}}.00) : {{option.value}} 
                    </div>
                    
                
                    <button class="tiny secondary" [disabled]="item.request_quantity <=1"
                        (click)="modifyQty(item.item_id,item.request_quantity-1)">-</button>
                    {{item.request_quantity}}
                    <button class="tiny secondary margin-right-05"
                        [disabled]="item.request_quantity >= item.available_quantity"
                        (click)="modifyQty(item.item_id,item.request_quantity+1)">+</button>


                    <button class="button tiny secondary hollow margin-right-05"
                    (click)="openModal('addPersonalization',item)"
                    *ngIf="hasPersonalization(item)">
                        + Add Option
                    </button>


                    <div class="subtitle" *ngIf="item.has_error">
                        Not enough stock, only {{item.available_quantity}} pc(s) available
                    </div>
                    <div class="subtitle primary-color" *ngIf="!item.has_error && item.available_quantity == 1">
                        Tersisa {{item.available_quantity}} item lagi!
                    </div>

                </div>
                <div class="flex-item flex-05 text-right">
                    <a class="subtitle " (click)="removeItem(item.item_id,i)">
                        <fa-icon [icon]=faEraser></fa-icon>
                    </a>
                </div>

            </div>
            
        </div>


        <div class="callout padding-center white-bg">
            <div class="flex-container">
                <div class="flex-item flex-2 margin-right-05">
                    <div class="title">
                        Subtotal
                    </div>
                    <div class="subtitle">
                        Belum termasuk ongkos kirim
                    </div>
                </div>
                <div class="flex-item flex-1 text-right">
                    <div class="title">
                        {{cartData.subtotal | currency:'IDR':'Rp'}}.00
                    </div>
                </div>

            </div>
        </div>
        <div class="callout  light-grey-bg padding-center  margin-bottom-3 elevate">
            <div class="subtitle">
                We Accept
            </div>
            <div class="flex-container">
                <div class="flex-item margin-right-05">
                    <img height="25" width="25" src="https://wia.id/media/logo/visa-01.svg" alt="">
                </div>
                <div class="flex-item margin-right-05">
                    <img height="25" width="25" src="https://wia.id/media/logo/mastercard-01.svg" alt="">
                </div>
                <div class="flex-item margin-right-05">
                    <img height="25" width="25" src="https://wia.id/media/logo/jcb-01.svg" alt="">
                </div>
                <div class="flex-item margin-right-05">
                    <img height="25" width="25" src="https://wia.id/media/logo/alto-01.svg" alt="">
                </div>
                <div class="flex-item margin-right-05">
                    <img height="25" width="25" src="https://wia.id/media/logo/bersama-2-01.svg" alt="">
                </div>


            </div>
        </div>
        <div class="callout margin-bottom-3"></div>




    </div>
    <div class="callout stick-bottom padding-center border-top white-bg">
        <button class="button primary expanded" (click)="goToCheckout()" [disabled]="!canCheckout">Lanjut Checkout</button>
    </div>

</div>


<!-- WAIT FOR INTERACTION -->
<app-popup (onClose)="closeModal($event)" [isHalf]="true" [name]="'addPersonalization'"
    *ngIf="modal.addPersonalization.isOpen">
    <!-- <img src="https://via.placeholder.com/450x200" alt=""> -->
    <form class="form callout padding-center" [formGroup]="personalizationForm">
        <div *ngFor="let item of modal.addPersonalization.customizationTemplate">
            <label for="name">{{item.title}} (+{{item.price | currency:"IDR":"Rp"}})</label> 
            <input [formControlName]="item.option_id" type="text" placeholder="Sinta">

            <div class="callout text-center" *ngIf="isCustomizationNotExistsAtFirst(item.option_id); else set">
                <button class="button primary expanded" (click)="setProductOption(item.option_id)">Add Option</button>
            </div>

            <ng-template #set>
                <div class="callout text-center">
                    <button class="button primary expanded" (click)="setProductOption(item.option_id)">Update Option</button>
                    <button class="button primary expanded" (click)="setProductOption(item.option_id,'remove')">Remove Option</button>
                </div>
            </ng-template>

        </div>
    </form>

</app-popup>