
.white{
    background:white;
    color:#333333 !important;
    border:2px solid white;
}

.card-global-four .content-container .title{
   
    font-weight: 500;
}
.card-global-four .content-container .label{
    font-size:12px;
}
.card-global-four, .card-global-four img, .card-global-four .content-container{
    border-radius: 3px !important;
}