
<div class="padding-center white-bg">
    <div class="label-text padding-center medium callout">
        <div class="title">
            Editor's Pick
         </div>
         <div class="description">
            Produk pilihan untuk menemani berbagai kegiatan kamu
        </div>
    </div>
    


    <div class="flex-container scroll-container" *ngIf="!isLoading">
        <div class="flex-item scroll-item-45" *ngFor="let item of picks" >
            <div class="card-global-four">
                <a routerLink="/{{item.url_path}}">
               
                    <img width="400" height="500" src="{{item.image_2x}}">
                    <div class="content-container">
                        <div class="bottom">
                           
                            <div class="title">
                                {{ item.title }}
                            </div>
                           
                           
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

</div>
