<div class="padding-center">
    <div class="label-text medium callout padding-center">
        <div class="title">
           Featured Sale
        </div>
    </div>
    <div class="flex-container scroll-container" *ngIf="isLoading">
        <div class="flex-item scroll-item-75 scroll-item"  *ngFor="let item of [].constructor(4)">
            <div class="card-global-two elevate">
                <div class="image-container loading">
                    <img alt="">
                </div>
                <div class="content-container">
                    <div class="title loading">
                        <h2 class="">Title</h2 >
                    </div>
                    <div class="description loading">
                       Description
                    </div>
                </div>
            </div>
           
        </div>
       
        
    </div>
    <div class="flex-container scroll-container" *ngIf="!isLoading">
        <div class="flex-item scroll-item-75 scroll-item"  *ngFor="let item of sales">
            <div class="card-global-two elevate">
                <a routerLink="/{{item.url_path}}">
                    <div class="image-container">
                        <img [src]="item.featured_image.image_2x" alt="">
                    </div>
                    <div class="content-container">
                        <div class="title">
                            <h2>{{item.title}}</h2>
                        </div>
                        <div class="description">
                            {{item.short_description}}
                        </div>
                    </div>
                </a>
            </div>
           
        </div>
       
        
    </div>
</div>