.flex-container .scroll-item-75 {
    -webkit-box-flex: 0;
    flex: 0 0 75%;
    margin-right: 3%;
}

.card-global-two .image-container img {
    height: 185px!important;
    width: 400px!important;
}