
    <div class="callout white-bg">
        <div class="flex-container margin margin-bottom-1">
            <div class="flex-item flex-1 margin-right-05">
                <div class="title">
                    <fa-icon [icon]="faCreditCard"></fa-icon> 0% Installment
                </div>
                <div class="subtitle">
                    Cicilan sampai 12 bulan
                </div>
            </div>
            <div class="flex-item flex-1">
                <div class="title">
                    <fa-icon [icon]="faBoxOpen"></fa-icon> Freeshipping
                </div>
                <div class="subtitle">
                  Untuk Pembelian diatas 1jt
                </div>
            </div>
        </div>
        <div class="flex-container">
            <div class="flex-item flex-1 margin-right-05">
                <div class="title">
                    <fa-icon [icon]="faStore"></fa-icon> Pickup Store
                </div>
                <div class="subtitle">
                    Tersedia di experience store
                </div>
            </div>
            <div class="flex-item flex-1">
                <div class="title">
                    <fa-icon [icon]="faUndo"></fa-icon> Return Warranty
                </div>
                <div class="subtitle">
                    Barang yang tidak sesuai
                </div>
            </div>
        </div>
    </div>