<app-top-navigation-bar [title] = title></app-top-navigation-bar>


<div class="padding-center" *ngIf="!isLoading">
    <div class="row">
        <div class="small-12 columns">
            <div class="card-global-two margin-bottom-1" *ngFor="let item of campaignList">
                <app-campaign-item
                [item]=item></app-campaign-item>
            </div>
        </div>
    </div>
</div>

<div class="padding-center" *ngIf="isLoading">
    <div class="row">
        <div class="small-12 columns">
            <div class="card-global-two margin-bottom-1" *ngFor="let item of [].constructor(2)">
                <app-campaign-item></app-campaign-item>
            </div>
        </div>
    </div>
</div>