<app-top-navigation-bar [title] = "title"
[noBackButton]="true" ></app-top-navigation-bar>

<div class="padding-center" *ngIf="!isLoading">
    <div class="row" *ngFor="let item of sales">
        
        <div class="medium-12 columns">
            <div class="card-global-two margin-bottom-1">
                <a routerLink="/{{item.url_path}}">
                    <div class="image-container" >
                        <img [src]="item.featured_image.image_2x" alt="">
                    </div>
                    <div class="content-container">
                        <div class="flex-container">
                            <div class="flex-item flex-3">
                                <div class="title">
                                    <h2>{{item.name}}</h2>
                                </div>
                                <div class="description">
                                    {{item.short_description}}
                                </div>
                            </div>
                            <div class="flex-item flex-1 text-right">
                                <div class="button primary radius tiny">
                                   View
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        
    </div>
</div>

<div class="padding-center" *ngIf="isLoading">
    <div class="row" *ngFor="let item of [].constructor(2)">
        <div class="medium-12 columns">
            <div class="card-global-two margin-bottom-1">
                    <div class="image-container loading" >
                       <img>
                    </div>
                    <div class="content-container">
                        <div class="flex-container">
                            <div class="flex-item flex-3 margin-right-05">
                                <div class="title loading">
                                    <h2>Title</h2 >
                                </div>
                                <div class="description loading">
                                    Short Description
                                    Short Description
                                </div>
                            </div>
                            <div class="flex-item flex-1">
                                <div class="expanded primary tiny loading">
                                    View
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>


<app-bottom-navigation-bar></app-bottom-navigation-bar>