<app-top-navigation-bar [title] = title ></app-top-navigation-bar>

<app-loading *ngIf="isLoading"></app-loading>

<div class="fullheight medium-grey-bg" *ngIf="!isLoading">
    
    <div class="callout navy-bg white padding-center  margin-bottom-1 elevate">
        <div class="white small-text">
            Bayar dengan cicilan 0% sampai dengan 12 bulan
        </div>
    </div>

    <!-- DELIVERY ADDRESS START -->
    <div class="flex-container label-text small padding-center">
       <div class="flex-item flex-1">
        <div class="title">
            Delivery Address
        </div>
       </div>
       <div class="flex-item text-right" *ngIf="checkoutData.shipping_address"
       [routerLink]="['/customer/address']" [queryParams]="{referrer: 'checkout'}">
        <div class="action primary-color">
           Change Address
        </div>
       </div>
    </div>

    <div class="callout padding-center white-bg" *ngIf="checkoutData.shipping_address">
        <div class="flex-container">
            <div class="flex-item flex-2 margin-right-05">
              <div class="title">
                {{checkoutData.shipping_address.location}}
              </div>
              <div class="subtitle margin-bottom-05">
                 {{checkoutData.shipping_address.street}}, {{checkoutData.shipping_address.city}}
                 {{checkoutData.shipping_address.region}} {{checkoutData.shipping_address.postcode}}
              </div>
              <div class="subtitle margin-bottom-05">
                {{checkoutData.shipping_address.telephone}}
             </div>
            </div>
        </div>
    </div>
    
    <div class="callout padding-center white-bg  margin-bottom-1" *ngIf="!checkoutData.shipping_address">
      
        <div class="title">
            Silahkan menambahkan alamat pengiriman
          </div>
         
          <button  class="button expanded secondary" [routerLink]="['/customer/address/add']" [queryParams]="{referrer: 'checkout'}"> Add New Address</button>
    </div>

     <!-- DELIVERY ADDRESS END -->

           <!-- SEND AS GIFT START -->

    <div class="callout padding-center elevate light-grey-bg margin-bottom-1">

        <div class="flex-container align-center"  (click)="triggerModal('sendAsGift')" *ngIf="!sendAsGiftForm.valid">
            <div class="flex-item flex-1">
               <div class="title">
                Send as a gift?
               </div>
            </div>

            <div class="flex-item flex-05 text-right">
                <div class="title">
                    <fa-icon [icon]="faChevronDown"></fa-icon>
                </div>
            </div>
           
        </div>

        <div class="flex-container" (click)="closeModal('sendAsGift')" *ngIf="sendAsGiftForm.valid">
            <div class="flex-item flex-1">
                <div class="flex-container margin-bottom-1">
                    <div class="flex-item flex-1">
                        <div class="title">
                           Send To :
                           </div>
                        <div class="title">
                            {{sendAsGiftForm.controls.recepient.value}}
                        </div>
                        <div class="subtitle">
                            {{sendAsGiftForm.controls.message.value}}
                        </div>
                    </div>        
                </div>
               
            </div>



            <div class="flex-item flex-05 text-right">
                <div class="title primary-color">
                  Remove
                </div>
               
            </div>

        </div>

    </div>
     <!-- SEND AS GIFT END -->




     <!-- SHIPPING METHOD START -->
    <div class="label-text small padding-center">
        <div class="title">
            Shipping Method
        </div>
    </div>
    <div class="callout padding-center white-bg margin-bottom-05">
        
        <div class="flex-container align-center" *ngIf="!checkoutData.shipping_address; else shippingAddressReady">
            <div class="flex-item flex-2">
              <div class="title">
                Silahkan menambahkan alamat terlebih dahulu
              </div>
            </div>
        </div>

        <ng-template #shippingAddressReady>
            <div (click)="triggerModal('selectShippingMethod')">
                <div class="flex-container align-center" *ngIf="selectedShippingMethod">
                    <div class="flex-item flex-2">
                        <div class="title">
                            {{selectedShippingMethod.method}}
                        </div>
                        <div class="subtitle margin-bottom-05">
                            {{selectedShippingMethod.method_description}}
                        </div>
                    </div>
                    <div class="flex-item flex-05 text-right">
                        <div class="title primary-color">
                        Change
                        </div>
                    </div>
                </div>
        
                <div class="flex-container align-center"  *ngIf="!selectedShippingMethod">
                    <div class="flex-item flex-2">
                    <div class="title">
                    Pilih metode pengiriman
                    </div>
                    </div>
                    <div class="flex-item flex-05 text-right">
                        <div class="title">
                            <fa-icon [icon]="faChevronDown"></fa-icon>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        
    </div>
     <!-- SHIPPING METHOD END -->


    <div class="callout padding-center white-bg margin-bottom-1" [routerLink]="['/secure/checkout/vouchers']">
        <div class="flex-container">
            <div class="flex-item flex-2" *ngIf="!checkoutData.applied_rule_ids">
              <div class="title">
                <fa-icon [icon]="faTags"></fa-icon> Promo
              </div>
            </div>
            <div class="flex-item flex-05 text-right" *ngIf="!checkoutData.applied_rule_ids">
                <div class="title primary-color">
                  Add
                </div>
              </div>

            <div class="flex-item flex-2" *ngIf="checkoutData.applied_rule_ids">
                <div class="title">
                    <fa-icon [icon]="faTags"></fa-icon> Promo Applied!
                </div>
            </div>

            <div class="flex-item flex-05 text-right" *ngIf="checkoutData.applied_rule_ids">
                <div class="title primary-color">
                   Change
                </div>
              </div>

           
        </div>
    </div>
    <div class="callout padding-center white-bg align-center">
        <div class="flex-container margin-bottom-05 padding-bottom-05 border-bottom">
            <div class="flex-item flex-2 margin-right-05">
                <div class="subtitle">
                    Subtotal
                </div>
             </div>
             <div class="flex-item flex-1 text-right">
                <div class="subtitle">
                    {{checkoutData.subtotal | currency:'IDR':'Rp'}}.00
                </div>
             </div>
        </div>
        <div class="flex-container margin-bottom-05 padding-bottom-05 border-bottom">
            <div class="flex-item flex-2 margin-right-05">
                <div class="subtitle">
                    Shipping
                </div>
             </div>
             <div class="flex-item flex-1 text-right">
                <div class="subtitle">
                    {{checkoutData.shipping_cost | currency:'IDR':'Rp'}}.00
                </div>
             </div>
        </div>
        <div class="flex-container margin-bottom-05 padding-bottom-1 border-bottom">
            <div class="flex-item flex-2 margin-right-05">
                <div class="subtitle">
                    Promo
                </div>
             </div>
             <div class="flex-item flex-1 text-right">
                <div class="subtitle">
                    -{{checkoutData.promo | currency:'IDR':'Rp'}}.00
                </div>
             </div>
        </div>
        <div class="flex-container">
            <div class="flex-item flex-2 margin-right-05">
                <div class="title ">
                    Total
                </div>
             </div>
             <div class="flex-item flex-1 text-right">
                <div class="title">
                    {{checkoutData.total | currency:'IDR':'Rp'}}.00
                </div>
             </div>
        </div>
    </div>
    
    <div class="callout light-grey-bg padding-center  margin-bottom-3 elevate">
        <div class="subtitle">
           We Accept
        </div>
        <div class="flex-container">
            <div class="flex-item margin-right-05">
                <img height="25" width="25" src="https://wia.id/media/logo/visa-01.svg" alt="">
            </div>
            <div class="flex-item margin-right-05">
                <img height="25" width="25" src="https://wia.id/media/logo/mastercard-01.svg" alt="">
            </div>
            <div class="flex-item margin-right-05">
                <img height="25" width="25" src="https://wia.id/media/logo/jcb-01.svg" alt="">
            </div>
            <div class="flex-item margin-right-05">
                <img height="25" width="25" src="https://wia.id/media/logo/alto-01.svg" alt="">
            </div>
            <div class="flex-item margin-right-05">
                <img height="25" width="25" src="https://wia.id/media/logo/bersama-2-01.svg" alt="">
            </div>
           
            
        </div>
    </div>
    <div class="callout padding-center margin-bottom-2">

    </div>
    <div class="callout stick-bottom padding-center border-top white-bg">
        <button [disabled]='!okToCheckout || isCheckingOut' class="button primary expanded" (click)="continueToPayment()">
          <fa-icon [icon]=faLock></fa-icon>   Lanjut ke Pembayaran
        </button>
    </div>

   

</div>

<!-- WAIT FOR INTERACTION -->
<app-popup
(onClose)="closeModal($event)"
[isHalf]="false"
[name]="'selectShippingMethod'" *ngIf="modal.selectShippingMethod">
    <div class="medium-grey-bg fullheight">
        <div class="callout group-list white-bg padding-center">

            <div class="list-tile" *ngFor="let item of checkoutData.shipping_list">
                <label class="container align-center">
                    <div class="flex-item flex-3">
                        <div class="title">
                            {{item.method}}
                        </div>
                        <div class="subtitle">
                            {{item.method_description}}  
                        </div>
                    </div>
                    <div class="flex-item flex-1" (click)="selectThisShippingMethod(item.code)">
                        <input type="radio" [checked]="checkoutData.selected_shipping_code === item.code" name="radio">
                        <span class="checkmark"></span>
                    </div>
                </label>
            </div>

        </div>
    </div>
</app-popup>



<!-- WAIT FOR INTERACTION -->
<app-popup
(onClose)="closeModal($event)"
[isHalf]="true"
[name]="'sendAsGift'" *ngIf="modal.sendAsGift">
        <form class="form callout padding-center" [formGroup]="sendAsGiftForm">
            <label for="name">Nama Penerima</label>
            <input formControlName="recepient" type="text" placeholder="Sinta">

            <label for="message">Pesan</label>
            <textarea formControlName="message" placeholder="Masukan pesan Kamu"></textarea>

            <div class="flex-container">
                <div class="flex-item flex-1">
                    <button class="button primary expanded" (click)="closeModalWithoutCallback('sendAsGift')" [disabled]="!sendAsGiftForm.valid">Tambah Pesan</button>
                </div>
            </div>
        </form>
</app-popup>