.image{
    -o-object-fit: cover;
    object-fit: cover;
    height: 100px!important;
    width: 200px!important;
    border-radius:3px;
}
.card-journal-article-item .content-container .title{
    font-weight: 500;
}