<section class="padding-center light-grey-bg">
   
    <div class="callout padding-center">
        <div class="label-text medium">
            <div class="flex-container horizontal justify-space-between align-end border-bottom padding-bottom-1">
                <div class="flex-item">
                    <div class="title">
                        Read The Journal
                    </div>
                </div>
               
            </div>
        </div>
        <div class="flex-container vertical scroll-container">
            <div class="flex-item" *ngFor="let item of journal">
                <a [href]="item.url">
                    <div class="callout">
                        <div class="flex-container">
                            <div class="flex-item flex-2 margin-right-05">
                                <div class="image-container">
                                  
                
                                        <img class="image" [src]="item.image" />
                                  
                                </div>
                              
                            </div>
                            <div class="flex-item flex-3">
                                <div class="title">
                                    {{item.title}}
                                   
                                </div>
                                <div class="subtitle">
                                    {{item.author}} -  {{item.date}}
                                   
                                </div>
                                <!-- <img height="50" width="50" [src]="item.author_image" alt="" class="avatar-image"> -->
                            </div>
                            
                        </div>
                
                       
                     </div>
                     </a>
               
            </div>
           
    
            
        </div>
        <div class="callout">
            <a href="/journal" class="button expanded secondary hollow rounded small">
                Read More
            </a>
           </div>
    </div>

  
</section>