<div class="toast callout padding-center" *ngIf="show && !isFull">
    <div class="flex-container align-center">
        <div class="flex-item flex-2 margin-right-05">
            {{this.msg}}
        </div>
        <div class="flex-item" *ngIf="this.actionFn != null ; else dismissTemplate">
           <button (click)='executeFn()' class="button tiny rounded white">
            {{this.actionName}}
           </button>
        </div>
        <ng-template #dismissTemplate>
            <button (click)='dismiss()' class="button tiny rounded white">
                Dismiss
            </button>
        </ng-template>
    </div>
</div>

<div class="toast full flex-container align-center" *ngIf="show && isFull">
    <div class="callout padding-center margin-bottom-3 flex-item flex-1 white-bg rounded elevate">
        <div class="flex-container vertical text-center">
            <div class="flex-item flex-2 margin-bottom-1">
                {{this.msg}}
            </div>
            
            <div class="flex-item flex-05" *ngIf="this.actionFn != null ; else dismissTemplate">
               <button (click)='executeFn()' class="button tiny rounded secondary">
                {{this.actionName}}
               </button>
            </div>
            <ng-template #dismissTemplate>
                <button (click)='dismiss()' class="button tiny rounded secondary">
                    Dismiss
                </button>
            </ng-template>
        </div>
    </div>
    
</div>