.toast{
    color:white;
    background:rgba(0,0,0,0.8);
  
    bottom: 0;
    position: fixed;
    width:100%;
    left: 0;
    z-index: 99999999999999999;
}
.full{
    top:0;
    color:#333333 !important;
    background:rgba(0,0,0,0.3);
    padding:0 20%;
    min-height: 100vh !important;
    margin-bottom: 1rem;
 
}
.white{
    background: white;
    color: #333333 !important;
    border:2px solid white;
}