<app-top-navigation-bar [title]=title></app-top-navigation-bar>

<div *ngIf="isLoggedIn">
    You are logged in, <a (click)="redirect()">Go to previous page</a>
</div>

<div class="fullheight padding-center" *ngIf="!isLoggedIn">
    <div class="row">
        <div class="small-12 columns">

            <div class=" margin-bottom-05 white-bg">

                <form class="form margin-bottom-2" [formGroup]="loginForm">
                    <label for="email">Email</label>
                    <input type="text" formControlName="email">

                    <div *ngFor="let error of loginForm.controls.email.errors | keyvalue">
                        <p class="error" *ngIf="!this.loginForm.controls.email.pristine">{{formErrorMsg[error.key]}}</p>
                    </div>

                    <label for="password">Password</label>
                    <input type="password" formControlName="password">

                    <div *ngFor="let error of loginForm.controls.password.errors | keyvalue">
                        <p class="error" *ngIf="!this.loginForm.controls.password.pristine">{{formErrorMsg[error.key]}}
                        </p>
                    </div>

                </form>

                <button class="button expanded primary" [disabled]="!loginForm.valid || isLoading"
                    (click)="login()">Login</button>

            </div>


            <app-social-login (onSuccessFacebookLogin)="onSuccessFacebookLogin($event)">
            </app-social-login>

        </div>
    </div>


    <div class=" text-center">Belum punya akun?
        <a [routerLink]="[ '/customer/account/create' ]">Daftar</a>
    </div>


</div>