<div class="padding-center white-bg margin-bottom-05">
    <div class="label-text medium callout padding-center">
        <div class="title">
           Temukan produk lainnya
        </div>
       
    </div>
    <div class="flex-container scroll-container">
        <div class="flex-item scroll-item-45" *ngFor="let item of relatedProducts">
            <app-product-item-portait  [item]="item"></app-product-item-portait>
            
        </div>
       
    </div>

</div>

