<app-top-navigation-bar [title] = title ></app-top-navigation-bar>

<app-loading *ngIf="isLoading"></app-loading>
<div class="fullheight padding-center" *ngIf="!isLoading">
    <div class="row">
        <div class="small-12 columns">
            <div class="white-bg">
                <form class="form" [formGroup]="addressForm">
                    <label for="location">Address Name</label>
                    <input type="text" formControlName="location">
        
                    <div *ngFor="let error of addressForm.controls.location.errors | keyvalue">
                        <p class="error" *ngIf="!this.addressForm.controls.location.pristine">{{formErrorMsg[error.key]}}</p>
                    </div>
                      
                    <label for="street">Address</label>
                    <input type="text" formControlName="street">
        
                    <div *ngFor="let error of addressForm.controls.street.errors | keyvalue">
                        <p class="error" *ngIf="!this.addressForm.controls.street.pristine">{{formErrorMsg[error.key]}}</p>
                    </div>
        
                    <label for="telephone">Telephone</label>
                    <input type="text" formControlName="telephone">
        
        
                    <div *ngFor="let error of addressForm.controls.telephone.errors | keyvalue">
                        <p class="error" *ngIf="!this.addressForm.controls.telephone.pristine">{{formErrorMsg[error.key]}}</p>
                    </div>
        
                    <label for="region_id">Postcode</label>
                    <input type="text" formControlName="postcode">
        
                    <div *ngFor="let error of addressForm.controls.postcode.errors | keyvalue">
                        <p class="error" *ngIf="!this.addressForm.controls.postcode.pristine">{{formErrorMsg[error.key]}}</p>
                    </div>
        
        
        
        
                    <label for="region_id">Region</label>
                    <select formControlName="region_id" placehonder="Please select one">
                        <option disabled>Select one</option>
                        <option *ngFor="let item of regionList" [value]="item.region_id">{{item.default_name}}</option>
                    </select>
        
                    <div *ngFor="let error of addressForm.controls.region_id.errors | keyvalue">
                        <p class="error" *ngIf="!this.addressForm.controls.region_id.pristine">{{formErrorMsg[error.key]}}</p>
                    </div>
        
                    <label for="city">City</label>
                    <select formControlName="city">
                        <option disabled *ngIf="isRegionEmpty()">Please select a region first</option>
                        <option disabled *ngIf="!isRegionEmpty()">Select one</option>
                        <option *ngFor="let item of cityList" [value]="item.display_name">{{item.display_name}}</option>
                    </select>
        
                    <div *ngFor="let error of addressForm.controls.city.errors | keyvalue">
                        <p class="error" *ngIf="!this.addressForm.controls.city.pristine">{{formErrorMsg[error.key]}}</p>
                    </div>
        
                  <div class="hide">
                    <p *ngIf="addressForm.controls.vat_id.value == null"> Not Set</p>
                    <p *ngIf="addressForm.controls.vat_id.value != null"> {{addressForm.controls.vat_id.value}}
                        <button class="button tiny" (click)="removePinpoint()">✖</button>
                    </p>
                  </div>
                  
                
                    <div class="callout">
                        <button class="button secondary expanded"
                        (click)="triggerModal('selectPickpoint')"
                        [disabled]="isProcessing || addressForm.invalid" 
                        >  <fa-icon [icon]="faMapMarked"></fa-icon> Add Pinpoint</button>
                    </div>
        
                </form>
               
           
            <div class="callout">
                <button class="button expanded" *ngIf="addressID == null" [disabled]="isProcessing || addressForm.invalid" (click)="addNewAddress()">
        
                    <span  *ngIf="!isFromCheckout">Add New</span>
                    <span  *ngIf="isFromCheckout">Delivery To This Address</span>
                </button>
                <button class="button expanded" *ngIf="addressID != null" [disabled]="isProcessing || addressForm.invalid" (click)="putAddress()">
                   {{ address.is_shipping_address ? "Change Shipping Address" : "Change Address"}}
                </button>
            </div>
            </div>
               
        </div>
    </div>
</div>

<!-- WAIT FOR INTERACTION -->
<app-popup
(onClose)="closeModal($event)"
[isHalf]="false"
[name]="'selectPickpoint'"
*ngIf="modal.selectPickpoint">
   
    <app-address-pinpoint
    [fullAddress]="makeAddress()"
    (onSelectPinpoint)="usePinpoint($event)">
    </app-address-pinpoint
    >
</app-popup>