<app-top-navigation-bar [title] = title ></app-top-navigation-bar>

<div class="fullheight medium-grey-bg">

    <div class="form-container white-bg margin-bottom-05">

        <form class="form margin-bottom-2">
            <!-- <label for="email">Email</label>
            <input type="text" formControlName="email">
            <label for="password">Password</label>
            <input type="text" formControlName="email">
            <label for="password">Confirm Password</label>
            <input type="password" formControlName="password"> -->

        </form>
        
        <button class="button expanded primary">Send Confirmation</button>
    </div>
   

    <div class="callout padding-center">
         <div class="text-center">
            <p>By creating an account you are agree to our terms and conditions</p>
    
        </div>
    </div>
    
    
    
   

   
</div>
