.transparant{
    background: rgba(0,0,0,0.01);
    position: absolute;
    width:100%;
    left:0;
    top:0;
    z-index: 55555;
    color: white !important;
    border: none;
    box-shadow:none;
}

.transparant .icon,.transparant .title{
    color: white !important;
}

.navigation-mobile-top .icon .notification{
    top: 10px !important;
}

.navigation-mobile-top .icon{
    font-size:20px
}

.transparant.sticky{
    background: white !important;
    color: #333333 !important;
    border: none;
    box-shadow:none;
}

.transparant.sticky .icon,.transparant.sticky .title{
    color: #333333 !important;
}

.sticky {
  position: fixed;
  background-color: white;
  width: 100%;
  z-index: 999;
}
.notification-pulse{
   
    width: 17px;
    height: 17px;
    right: 5px;
    top:7px;

}