<div class="navigation-mobile-top border-bottom" 
[ngClass]="{'transparant': transparant,'elevate' : !transparant,'sticky': isSticky}"> 
    <div class="flex-container align-center">
        
        <div *ngIf="!noBackButton">
            <div class="flex-item flex-1 text-center margin-right-1" *ngIf="home">
                <a [routerLink]="['/']">
                    <img height="27" width="27" src="https://wia.id/media/wysiwyg/logo/wia-logo.svg" alt="">
                </a>
            </div>
            
            <div class="flex-item flex-05 text-center margin-right-1" *ngIf="!home">
                <a (click)="navigate()">
                    <div class="icon">
    
                        <fa-icon [icon]="faArrowLeft"></fa-icon>
                    </div>
                </a>
            </div>
        </div>

        <div class="flex-item flex-3 text-left margin-right-1">
            <div class="title">
                {{title}}
            </div>
        </div>

        

        <div class="flex-item flex-1 text-center" routerLink="/search" *ngIf="showSearch">
            <div class="icon">
                <fa-icon [icon]="faSearch"></fa-icon>
            </div>
        </div>

        <div class="flex-item flex-1 text-center" *ngIf="showPromo">
            <a [routerLink]="[ '/promo' ]" routerLinkActive="active">
            <div class="icon relati">
                <fa-icon [icon]="faTags"></fa-icon>
                <div class="notification-pulse">
                 
                   </div>
            </div>
            </a>
        </div>

        <div class="flex-item flex-1 text-center" *ngIf="showChat" (click)="showDeskhelp()">
            <div class="icon">
                <fa-icon [icon]="faCommentDots"></fa-icon>
            </div>
        </div>

        

        <div class="flex-item flex-1 text-center" *ngIf="showCart">
            <a [routerLink]="[ '/secure/cart' ]" routerLinkActive="active">
                <div class="icon">
                    <fa-icon [icon]="faShoppingBag"></fa-icon>
                   <div class="notification">
                    {{numberOfItems}}
                   </div>
                   
                </div>
            </a>
        </div>
       
       

    </div>
</div>
