.navigation-mobile-bottom .icon {
    font-size: 16px;
    color: black;
    opacity: 1;
}

.navigation-mobile-bottom .active .icon  {
    font-size: 16px; 
    color: #f57224 !important;

}

.hide-bottom-bar{
    opacity: 0 !important;;
    transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -webkit-transition: opacity 0.2s ease-in-out;
}

.show-bottom-bar{
    opacity: 1 !important;;
    transition: opacity 0.1s ease-in-out;
    -moz-transition: opacity 0.1s ease-in-out;
    -webkit-transition: opacity 0.1s ease-in-out;
}

.elevate {
    box-shadow: 0px -2px 5px 2px rgba(0,0,0,.05);
}
