<div class="navigation-mobile-bottom elevate border-top" [ngClass]="{
    'hide-bottom-bar': isScrollingDown,
    'show-bottom-bar': !isScrollingDown
}">
    <div class="flex-container">
        <div class="flex-item flex-05">
          
                <a [routerLink]="[ '/homepage' ]" routerLinkActive="active">
                <div class="icon">
                    <fa-icon [icon]="faHome"></fa-icon>
                </div>
                <div class="title">
                    Home
                </div>
               
              
            </a>
          
        </div>
        <div class="flex-item flex-05 promo-icon">
            <a [routerLink]="[ '/promo' ]" routerLinkActive="active">
                <div class="icon">
                    <fa-icon [icon]="faTags"></fa-icon>
                </div>
                <div class="title">
                    Promos
                </div>
                <div class="notification-pulse">
                    
                </div>
               
              
            </a>
          
        </div>

        <div class="flex-item flex-05" >
            <a [routerLink]="[ '/brand' ]" routerLinkActive="active">
                <div class="icon">
                    <fa-icon [icon]="faThLarge"></fa-icon>
                </div>
                <div class="title">
                    All Brand
                </div>
               
              
            </a>
          
        </div>

        <div class="flex-item flex-05">
            <a [routerLink]="[ '/order' ]" routerLinkActive="active">
                <div class="icon">
                    <fa-icon [icon]="faReceipt"></fa-icon>
                </div>
                <div class="title">
                    My Order
                </div>
               
              
            </a>
          
        </div>

        
      
        <div class="flex-item flex-05">
            <a [routerLink]="[ '/customer/account' ]" routerLinkActive="active">
                <div class="icon">
                    <fa-icon [icon]="faUserCircle"></fa-icon>
                </div>
                <div class="title">
                    Account
                </div>
               
              
            </a>
          
        </div>
    </div>
</div>
