

<div *ngIf="!isLoading">
    <div class="callout" *ngFor="let item of campaigns" [routerLink]="'/'+item.url_path">
        <div class="flex-container align-center">
            <div class="flex-item flex-1 text-center margin-right-05">
                <img height="30" width="30" [src]="item.profile_image.image_2x"
                    alt="" class="avatar-image">
            </div>
            <div class="flex-item flex-3 margin-right-05">
                <div class="title">
                {{item.title}}
                </div>
                <div class="subtitle">
                   Kami akan mendonasikan hasil penjualan sebesar {{item.campaign_donation}} kepada {{item.name}} 
                </div>
            </div>
            <div class="flex-item flex-05 text-right">
                <div class="icon">
                    <fa-icon [icon]="faChevronRight"></fa-icon>
                </div>
            </div>
        </div>
    </div>

</div>
