<div class="card-global-four" *ngIf="!isLoading">
    <a [routerLink]="data.promotion_url">
    <div class="image-container">     
        <img height="600" width="600" [src]="data?.promotion_image" alt="">
    </div>
    <div class="content-container">
        <div class="bottom">
            <div class="label">{{data?.promotion_label}}</div>
            <div class="title">
               <h2> {{data?.promotion_description}}</h2>
            </div>
            <div class="button uppercase white primary radius small">
                Shop Now
            </div> 
        </div>
    </div>
</a>
    
</div>
