<app-top-navigation-bar [title] = title
[noBackButton]="true" ></app-top-navigation-bar>

<div class="fullheight medium-grey-bg" *ngIf="!isLoading">

    <div class="callout white-bg padding-center elevate margin-bottom-1" *ngIf="isLoggedIn">
        <div class="flex-container">
            <div class="flex-item flex-05 text-center margin-right-1">
                <div class="avatar-image-placeholder">
                    {{profile.firstname| slice:0:1 | uppercase }}
                </div>
                       </div>
            
            <div class="flex-item flex-3">
                <div class="title">
                   <h3> Hi, {{profile.firstname}} {{profile.lastname}}</h3>
                </div>
                    <button class="button tiny secondary margin-right-05" routerLink="/customer/account/profile">Edit Profile</button>
                    <button class="button tiny secondary" (click)="logout()">Logout</button>
            </div>
        </div>
    </div>

    <div class="callout white-bg padding-center elevate margin-bottom-1" *ngIf="!isLoggedIn">
        <div class="flex-container align-center">
            <div class="flex-item flex-1 text-center margin-right-05">
               <a class="button rounded expanded" routerLink="/customer/account/login">Login</a>
            </div>
            <div class="flex-item flex-1 text-center">
                <a class="button rounded secondary expanded" routerLink="/customer/account/create">Register</a>
             </div>
        </div>

    </div>
    
    <div class="group-list white-bg" *ngIf="isLoggedIn">
        <div class="list-tile padding-center" *ngFor="let item of listTile">
            <a disable [routerLink]="item.linkPath"> 
                <div class="flex-container">
                    <div class="flex-item flex-3">
                       <div class="title">
                           {{item.title}}
                       </div>
                    </div>
                    <div class="flex-item flex-05 text-right">
                        <div class="icon">
                            <fa-icon [icon]="item.icon"></fa-icon>
                        </div>
                      
                    </div>
                </div>
            </a>
        </div>
    </div>
    
    <div class="group-list white-bg margin-bottom-1" *ngIf="!isLoggedIn">
        <div class="list-tile padding-center" *ngFor="let item of listTile">
            <a (click) = promptLogin()> 
                <div class="flex-container">
                    <div class="flex-item flex-3">
                       <div class="title">
                           {{item.title}}
                       </div>
                    </div>
                    <div class="flex-item flex-05 text-right">
                        <div class="icon">
                            <fa-icon [icon]="item.icon"></fa-icon>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
   
</div>

<div class="loading" *ngIf="isLoading">
    <div class="callout white-bg padding-center elevate margin-bottom-1">
        <div class="flex-container">
            <div class="flex-item flex-05 text-center margin-right-1">
                <img height="100" width="100" class="avatar-image border loading">
            </div>
            <div class="flex-item flex-2">
                <div class="title loading">
                   <h3> Name Name Name</h3>
                </div>
                <button class="button tiny secondary margin-right-05 loading">Edit Profile</button>
                <button class="button tiny secondary loading">Logout</button>
            </div>
        </div>
    </div>

    <div class="group-list white-bg margin-bottom-1">
        <div class="list-tile padding-center" *ngFor="let item of listTile">
            <a (click) = promptLogin()> 
                <div class="flex-container loading">
                    <div class="flex-item flex-3">
                       <div class="title loading">
                           {{item.title}}
                       </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
   
</div>

<app-bottom-navigation-bar></app-bottom-navigation-bar>