<app-top-navigation-bar [showSearch]=true [showChat]=true [showCart]=true 
[title]="title">
</app-top-navigation-bar>


<app-loading *ngIf="isLoading"></app-loading>

<div class="padding-center" *ngIf="!isLoading">
    <div class="row small-up-2">
        <div class="column" *ngFor="let item of brands; let i = index">
            <div class="card-global-two margin-bottom-05" >
                <a [routerLink]="'/'+item.url_path">
                    <div class="image-container">
                    <img style="height: 120px!important;width: 200px!important;" width="169" height="120"
                            class="lazy" [src]="getPicture(i)">
                    </div>
                    <div class="content-container">
                        <div class="label uppercase small-text">
                            {{item.name}}
                        </div>
                        
                    </div>
                </a>
            </div>
        </div>
    
    </div>
</div>

<app-bottom-navigation-bar></app-bottom-navigation-bar>
