<div class="border-bottom">
    <div class="flex-container scroll-container">
        <div class="flex-item text-center tab-bar-item scroll-item-90" [ngClass]="activeClass(item)"
        *ngFor="let item of availableInstallment" (click)="selectOption(item)">
            <div class="title">
                {{item}} Bulan
            </div>
        </div>
       
    </div>
</div>

<div class="group-list callout padding-center">
    <div class="list-tile">
        <div class="flex-container">
           
            <div class="flex-item flex-2">
                <div class="title">
                    BCA
                </div>
                <div class="subtitle">
                    Semua Jenis Kartu Kredit
                </div>
            </div>
            <div class="flex-item flex-1 text-right">
                <div class="title">
                  {{calculateInstallment() | currency:'IDR':'Rp'}}.00
                </div>
                <div class="tiny-text">
                    / bulan
                </div>
            </div>
        </div>
    </div>

    <div class="list-tile">
        <div class="flex-container">
            
            <div class="flex-item flex-2">
                <div class="title">
                    Mandiri
                </div>
                <div class="subtitle">
                    Semua Jenis Kartu Kredit
                </div>
            </div>
            <div class="flex-item flex-1 text-right">
                <div class="title">
                  {{calculateInstallment() | currency:'IDR':'Rp'}}.00
                </div>
                <div class="tiny-text">
                    / bulan
                </div>
            </div>
        </div>
    </div>

    <div class="list-tile">
        <div class="flex-container">
           
            <div class="flex-item flex-2">
                <div class="title">
                    CIMB
                </div>
                <div class="subtitle">
                    Semua Jenis Kartu Kredit
                </div>
            </div>
            <div class="flex-item flex-1 text-right">
                <div class="title">
                  {{calculateInstallment() | currency:'IDR':'Rp'}}.00
                </div>
                <div class="tiny-text">
                    / bulan
                </div>
            </div>
        </div>
    </div>

    <div class="list-tile">
        <div class="flex-container">
           
            <div class="flex-item flex-2">
                <div class="title">
                    BNI
                </div>
                <div class="subtitle">
                    Semua Jenis Kartu Kredit
                </div>
            </div>
            <div class="flex-item flex-1 text-right">
                <div class="title">
                  {{calculateInstallment() | currency:'IDR':'Rp'}}.00
                </div>
                <div class="tiny-text">
                    / bulan
                </div>
            </div>
        </div>
    </div>
</div>