.tab-bar-item{
  
    line-height: 40px;
    padding:0 1rem;
    font-size:14px;
    border-bottom:2px solid white
}

.tab-bar-item.active{
    line-height: 40px;
    border-bottom:2px solid #333333
}
.scroll-item-90{
    flex:unset
}