<app-top-navigation-bar [title] = title ></app-top-navigation-bar>


<div class="border-bottom">
    <div class="flex-container scroll-container">
        <div class="flex-item text-center tab-bar-item scroll-item-90" [ngClass]="promoClass(item)"
        *ngFor="let item of promoTypes" routerLink="/promo" [queryParams]="{'type': item.value}">
            <div class="title">
                {{item.name}}
            </div>
        </div>
       
    </div>
</div>

<div *ngIf="isLoading">
    <app-list-tile-with-image></app-list-tile-with-image>
    
   </div>

<div class="padding-center" *ngIf="!isLoading"> 
    <div class="row">
        <div class="medium-12 columns padding-bottom-1" *ngFor="let promo of promos">
            <div class="flex-item scroll-item-90">
                <app-promo-item
                [promo]="promo"></app-promo-item>
            </div>
        </div>
    </div>
</div>

<app-bottom-navigation-bar></app-bottom-navigation-bar>
