<div class="padding-center text-center">
    <div class="spin" >
        <fa-icon  style="color:black" [icon]="faCircleNotch"></fa-icon>
    </div>
   
    <p style="color:black">Please wait...</p>
</div>