<div class="callout white-bg margin-bottom-05" *ngIf="!isLoading && hasPromo">
    <div class="label-text medium callout padding-center">
        <div class="flex-container align-center">
            <div class="flex-item flex-2">
                <div class="title">
                    Sedang ada promo buat kamu!
                </div>
            </div>
            <div class="flex-item flex-1 text-right">
                <div class="action">
                    <a routerLink="/promo">View All</a>
                </div> 
            </div>
        </div>
    </div>
    <div class="flex-container scroll-container">
        <div class="flex-item scroll-item-75" *ngFor="let promo of promos">
            <app-promo-item
            [promo]="promo"></app-promo-item>
        </div>
    </div>

</div>


<div *ngIf="isLoading">
    <app-list-tile-with-image></app-list-tile-with-image>
   </div>