<app-top-navigation-bar [title] = title></app-top-navigation-bar>

<div class="fullheight medium-grey-bg">
 
<div class="form-container margin-bottom-05">
    <form class="form" [formGroup]="profileForm">
        
        <input type="hidden"  placeholder="email" formControlName="email">
        <label for="firstname">First Name</label>
        <input type="text"  placeholder="firstname" formControlName="firstname">
        <label for="lastname">Last Name</label>
        <input type="text"  placeholder="lastname"  formControlName="lastname">
        <label for="customer_bio">Bio</label>
        <input  type="text" placeholder="Tell about your self" formControlName="customer_bio">
    </form>
</div>
<div class="callout padding-center white-bg">
    <button class="button expanded primary" [disabled]="isChanging" (click)="updateProfile()">Update Profile</button>

</div>
    
</div>
