<app-top-navigation-bar [title] = "title"
[noBackButton]="true" ></app-top-navigation-bar>
<app-loading *ngIf="isLoading"></app-loading>

<div *ngIf="!isLoading">
   
    <div class="list-tile" *ngFor="let item of categories">
        <a routerLink="/{{item.url_path}}">
            <div class="flex-container align-center">
                <div class="flex-item flex-1"> 
                    <img height="150" width="150" [src]="item.featured_image.image" alt="">
                </div>
                <div class="flex-item flex-2">
                    <div class="label-text medium">
                        <div class="title">{{item.name}}</div>
                    </div>
                   
                </div>
                <div class="flex-item flex-05 text-right">
                    <div class="icon"> <i class="fa fa-chevron-right" aria-hidden="true"></i></div>
                </div>
            </div>
        </a>
    </div>
</div>


<app-bottom-navigation-bar></app-bottom-navigation-bar>

