<div class="item-item-potrait" [routerLink]="['/'+item.url_path]">
    <div class="image margin-bottom-1">
        <img width="150" height="150"
        class="lazy"
        [src]="makeSrc()"
        id="i{{item.entity_id}}">

    </div>
    <div class="label">
        {{item.brand}}
    </div>
    <div class="title margin-bottom-05">
        {{item.name}}
    </div>
    <div class="price">

        <div class="special-price" *ngIf="isProductDiscounted(); else regularPrice">
            <div class="was-price">
                {{item.price | currency:"IDR":"Rp"}}.00
            </div>
            <div class="special-price primary-color">
                {{item.final_price | currency:"IDR":"Rp"}}.00
            </div>
        </div>

        <ng-template #regularPrice>
            <div *ngIf="!item.special_price">
                <div class="special-price">
                    {{item.price | currency:"IDR":"Rp"}}.00
                </div>
            </div>
        </ng-template>

        <div class="tiny-text primary-color" *ngIf="item.promo">

            <fa-icon [icon]="faTag"></fa-icon>
            {{item.promo.description}} - {{item.promo.code}}
        </div>

        <span class="button primary" *ngIf="!item.is_in_stock">
            Out of stock
        </span>
        <!-- <div class="installment bold"> {{item.promo.description}} {{item.promo.code}}</div> -->
    </div>
</div>