.label{
    font-size:10px;
    color: #cccccc;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
}
.title{
    font-size: 14px;
    font-weight: 500;
    line-height: 1.3;
}
.price{
    font-size: 12px;
}
.special-price{
    font-weight: 600;
}
.was-price{
    text-decoration: line-through;
    font-size: 10px;
    color: #999999;
}