<div class="callout padding-center rounded elevate white-bg">
    <div class="flex-container">
        <div class="flex-item flex-05 margin-right-1">
          <img class="avatar-image" height="50" width="50" src="https://wia.id/media/wysiwyg/logo/anti.png" alt="">
        </div>
        <div class="flex-item flex-2">
            <div class="title">
                Butuh Bantuan?
            </div>  
            <div class="subtitle margin-bottom-05">
               Silahkan menghubungi customer solution kami.
            </div>  
           
                   
        </div>
        <div class="flex-item flex-1 text-right">
            <a href="tel:+622122227825" class="button tiny rounded secondary margin-right-05"> <fa-icon [icon]="faPhone"></fa-icon></a>
            <button  (click)="showDeskhelp()" class="tiny rounded secondary"> <fa-icon [icon]="faCommentAlt"></fa-icon></button>
 
        </div>
    </div>
</div>