<app-top-navigation-bar 
[routerLink]="'/order'"
*ngIf="!isLoading" [title]="title"></app-top-navigation-bar>


<app-loading *ngIf="isLoading"></app-loading>
<div class="fullheight medium-grey-bg margin-bottom-2" *ngIf="!isLoading">
  
    <div class="callout navy-bg white padding-center  margin-bottom-05 elevate" *ngIf="order.status == 'pending'">
        <div class="subtitle" style="color:white">
           Kamu belum menyelesaikan proses pembayaran, silahkan melanjutkan proses pembayaran.
        </div>
    </div>

    <app-customer-service></app-customer-service>
  
    
    <div class="label-text small padding-center">
        <div class="title">
            Order Details
        </div>
    </div>
    <div class="callout padding-center white-bg margin-bottom-05">
        <div class="flex-container">
            <div class="flex-item flex-2 margin-right-05">
                <div class="title">
                {{order.shipping_address.address_type}}
                </div>
                <div class="subtitle">
                    {{order.shipping_address.street}}, {{order.shipping_address.city}}
                    {{order.shipping_address.region}} {{order.shipping_address.postcode}} 
                </div>
            </div>
        </div>
    </div>

    
    <div class="group-list white-bg margin-bottom-05">
       
        <div class="list-tile padding-center">
            <div class="flex-container">
                <div class="flex-item flex-1 margin-right-05">
                    <div class="title">
                        Status
                    </div>
                </div>
                <div class="flex-item flex-1 text-right">
                    <div class="subtitle">
                        {{order.status_label}}
                    </div>
                </div>
            </div>
        </div>
        <div class="list-tile padding-center">
            <div class="flex-container">
                <div class="flex-item flex-1 margin-right-05">
                    <div class="title">
                        Order Date
                    </div>
                </div>
                <div class="flex-item flex-1 text-right">
                    <div class="subtitle">
                        {{order.order_date}}
                    </div>
                </div>
            </div>
        </div>
        <div class="list-tile padding-center">
            <div class="flex-container">
                <div class="flex-item flex-1 margin-right-05">
                    <div class="title">
                        Payment Method
                    </div>
                </div>
                <div class="flex-item flex-1 text-right">
                    <div class="subtitle">
                        {{order.payment_method}}
                    </div>
                </div>
            </div>
        </div>
        <div class="list-tile padding-center">
            <div class="flex-container">
                <div class="flex-item flex-1 margin-right-05">
                    <div class="title">
                        Shipping Method
                    </div>
                </div>
                <div class="flex-item flex-1 text-right">
                    <div class="subtitle">
                        {{order.shipping_method}}
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    
    <div class="label-text small padding-center ">
        <div class="title">
            Product Details
        </div>
    </div>

    <div class="group-list white-bg margin-bottom-4">
       
        <div class="list-tile padding-center" *ngFor="let item of order.items">
            <div class="flex-container">
                <div class="flex-item flex-1 margin-right-05">
                    <img [src]="item.image" alt="">
                </div>
                <div class="flex-item flex-1 margin-right-05">
                    <div class="title">
                        {{item.name}}
                    </div>
                    <div class="title">
                        {{item.price |  number:'1.0-0'}}.00
                    </div>
                    <div class="subtitle margin-bottom-05">
                        Qty : {{item.ordered_qty | number:'1.0-0'}}
                    </div>
                </div>
                <div class="flex-item flex-1 text-right" *ngIf="order.status != 'pending' && order.status != 'pending_payment'">
                    <a class="button secondary tiny rounded"
                    [routerLink]="['/','review','product','add',item.id]">+ Review</a>
                </div>
    
            </div>
        </div>
    
        <div class="list-tile padding-center margin-bottom-3">
            <div class="flex-container">
    
                <div class="flex-item flex-1 margin-right-05">
                    <div class="title">
                        Total
                    </div>
    
                </div>
                <div class="flex-item flex-1 text-right">
                    <div class="title">
                        {{order.grand_total | currency:'IDR':'Rp'}}
                    </div>
                </div>
    
            </div>
        </div>
    
    </div>
    
    <div class="callout white-bg padding-center stick-bottom border-top">
        <button class="button expanded rounded" 
        [disabled]="isProcessing"
        *ngIf="order.status == 'pending'"
        (click)="retryPayment()">
            Lanjut ke Pembayaran
        </button>

        <button class="button expanded rounded" 
        [disabled]="isProcessing"
        *ngIf="order.status == 'canceled'"
        (click)="reorder()">
            Reorder
        </button>
    </div>
</div>


