<div class="padding-center">
    <div class="label-text medium callout padding-center">
        <div class="title">
            Shopping that matters
        </div>
        <div class="description">
            Disetiap kesempatan Kamu bisa berdampak, tidak terkecuali saat berbelanja
        </div>
    </div>
    
    <div class="flex-container scroll-container" *ngIf="!isLoading">
        <div class="flex-item scroll-item-90 scroll-item" *ngFor="let item of items">
            <app-campaign-item
            [item]="item"
            ></app-campaign-item>
        </div>
    </div>

    <div class="flex-container scroll-container" *ngIf="isLoading">
        <div class="flex-item scroll-item-90 scroll-item" *ngFor="let item of [].constructor(3)">
            <app-campaign-item
            ></app-campaign-item>
        </div>
    </div>

    
</div>
