<app-top-navigation-bar
[title]="title"
[hideMiniSearch]="'true'"
[hideMiniCart]="'true'"></app-top-navigation-bar>

<div class="medium-grey-bg fullheight">
    <div class="callout padding-center light-grey-bg elevate margin-bottom-1">
        <div class="flex-container align-center">
            <div class="flex-item flex-3 margin-right-05">
                 <input class="voucher margin-bottom-0" type="text" [(ngModel)]="voucherCode" placeholder="input your promo code">
            </div>
            <div class="flex-item flex-1 text-right">
                <button class="button expanded tiny primary  margin-bottom-0" [disabled]="voucherCode == ''" (click)="useThisVoucher()">
                    Apply
                </button>
            </div>
        </div>
    </div>
   
    <div *ngIf=!isLoading>
       <div class="callout padding-center">
        <div class="callout padding-center white-bg margin-bottom-05 elevete"  *ngFor='let item of vouchers'>
            <div class="flex-container align-center">
                <div class="flex-item flex-3">
                     <div class="title">
                         {{item.coupon}}
                     </div>
                    
                     <div class="subtitle margin-bottom-05">
                         {{item.coupon_amount | currency:'IDR':'Rp'}}
                     </div>
                     <div class="subtitle">
                         {{item.description}}
                     </div>
                </div>
                <div class="flex-item flex-1 text-right">
                    <button class="button tiny secondary" (click)="useThisVoucher(item.coupon)">
                        Apply
                    </button>
                </div>
            </div>
         </div>
         
         <div class="callout padding-center white-bg text-center" *ngIf="vouchers.length == 0">
             There are no available vouchers
         </div>
       </div>
    </div>
</div>

<app-loading *ngIf="isLoading"></app-loading>