<div class="padding-center white-bg elevate margin-bottom-1">
    <div class="label-text medium callout padding-center">
        <div class="title">
          Visit Us
        </div>
      
    </div>
    
    <img class="image" width="700" height="468" src="https://wia.id/media/wia-office.png" alt="">
    
    <div class="callout padding-center border-bottom">
        <div class="title">
           Office & Experience Store
        </div>
      <div class="subtitle margin-bottom-05">
        Dalton Utara no. 50, Scientia Square. Gading Serpong - Tangerang.
      </div>
      
      <div class="subtitle margin-bottom-1">
        T: O21 - 2222 7825 |  Senin -  Sabtu
      </div>
    
      
        <div class="flex-container">
            <div class="flex-item flex-1 margin-right-05">
                <a href="https://www.google.co.id/maps/place/Wearinasia.com's+Experience+Store/@-6.2586554,106.5445374,12z/data=!4m18!1m12!4m11!1m3!2m2!1d106.6144036!2d-6.2589966!1m6!1m2!1s0x2e69fc648ad8aae5:0x8b99198f2ae80cb0!2swearinasia+experience+store!2m2!1d106.614578!2d-6.25866!3m4!1s0x2e69fc648ad8aae5:0x8b99198f2ae80cb0!8m2!3d-6.25866!4d106.614578?shorturl=1" target="_blank" class="button hollow rounded tiny button secondary expanded ">
                    <fa-icon [icon]="faMap"></fa-icon> Map
                </a>
            </div>
            <div class="flex-item flex-1 margin-right-05">
                <a href="tel:+622122227825" class="button rounded hollow tiny secondary expanded">
                    <fa-icon [icon]="faPhone"></fa-icon> Call
                </a>
            </div>
            <div class="flex-item flex-2">
                <button (click)="showDeskhelp()" class="button tiny rounded hollow  navy expanded ">
                    <fa-icon [icon]="faCommentAlt"></fa-icon> Chat
                </button>
            </div>
        </div>
    </div>

    <div class="list-tile padding-center">
        <div class="flex-container align-center">
            <div class="flex-item flex-1 margin-right-05">
               <img class="avatar-image" height="25" width="25" src="https://wia.id/media/wysiwyg/logo/anti.png" alt="">
           
            </div>
            <div class="flex-item flex-1 text-right" [routerLink]="[ '/customer/about' ]">
               <div class="title">
                Learn More About Us  <fa-icon [icon]="faChevronRight"></fa-icon>
               </div>
            </div>
           
        </div>
    </div>
</div>
