<app-top-navigation-bar [showSearch]=true [showChat]=true [showCart]=true></app-top-navigation-bar>


<div class="margin-bottom-1">
    <app-overlay-text-card></app-overlay-text-card>
</div>

<app-featured-categories></app-featured-categories>

<!-- <app-featured-brand
[ids]="'312,656,396,226'"
[scroll]="false"></app-featured-brand> -->
<app-editors-pick></app-editors-pick>

<app-featured-product [id]="featuredProductKey.brand"></app-featured-product>

<app-featured-campaign></app-featured-campaign>

<featured-journal></featured-journal>

<app-store></app-store>

<app-global-footer></app-global-footer>

<app-bottom-navigation-bar></app-bottom-navigation-bar>
