<a routerLink="/{{item.url_path}}" *ngIf="item">
    
    <div class="card-global-four">

        <img class="image" height="500" width="700" src="{{item.featured_image.image_2x}}" alt="">
        <div class="content-container">
            
            <div class="bottom bold">
                {{item.title}}
                        
            </div>
            
    
        </div>
    
    </div>
    <div class="callout">
        <div class="flex-container align-center">
            <div class="flex-item flex-1 margin-right-05">
                <img height="50" width="50" [src]="item.profile_image.image" alt="" class="avatar-image">
               </div>
            <div class="flex-item flex-3">
                <div class="title">
                    {{item.name}}
                </div>
                <div class="subtitle">
                    {{item.short_description}}
                </div>
            </div>
            <div class="flex-item flex-05">
                <span class="button tiny secondary rounded">Participate</span>
            </div>
        </div>

        
        </div>

</a>

<div *ngIf="!item">
    <img class="image margin-bottom-05 loading" [src]="" alt="">
    <div class="callout">

        <div class="flex-container">
            <div class="flex-item flex-3">
                <div class="title loading">
                    ,  
                </div>
                
            </div>
            <div class="flex-item flex-1 text-right">
                <span class="button hollow tiny secondary loading">
                    Participate
                </span>
            </div>
        </div>
    </div>

</div>
