<div class="callout padding-center white-bg margin-bottom-05">
   
    <div class="list-tile">
        <div class="flex-container align-center align-center">
            
            <div class="flex-item flex-3">
                <div class="title">
                    Personalization
                </div>
                <div class="subtitle">
                   Tambahkan personalisasi pada produk kamu. Bisa dalam bentuk grafir dan lainnya
                </div>
            </div>
            <div class="flex-item flex-05 text-right">
                <div class="icon">
                    <fa-icon [icon]="faChevronRight"></fa-icon>
                </div>

            </div>
        </div>
    </div>
    <div class="list-tile">
        <div class="flex-container align-center">
          
            <div class="flex-item flex-3">
                <div class="title">
                    Belanja sambil berbagi
                </div>
                <div class="subtitle">
                    Kami akan membagikan hasil penjualan kepada rekanan yang ikut serta dalam program #SHOPPINGTHATMATTERS
                </div>
            </div>
            <div class="flex-item flex-05 text-right">
                <div class="icon">
                    <fa-icon [icon]="faChevronRight"></fa-icon>
                </div>

            </div>
        </div>
    </div>
    <div class="list-tile">
        <div class="flex-container align-center">
           
            <div class="flex-item flex-3">
                <div class="title">
                    Send as Gift
                </div>
                <div class="subtitle">
                   Kirim pesanan kamu dalam bentuk kado. Pilih send as gift saat melakukan pemesanan
                </div>
            </div>
            <div class="flex-item flex-05 text-right">
                <div class="icon">
                    <fa-icon [icon]="faChevronRight"></fa-icon>
                </div>


               
            </div>
        </div>
    </div>
</div>