.promo-label{
    font-size:8px;
    background:#f57224;
    color: white;
    padding:3px 7px;
    position: absolute;
    right: 0;
    top: 0;
    font-weight: 600;
    text-transform: uppercase;
}
.image-container{
    position: relative;
}