<section id="padding-center" class="padding-center">
    <div class="flex-container scroll-container"  *ngIf="isLoading">
        <div class="flex-item scroll-item-45" *ngFor="let item of [].constructor(3)">
            <div class="loading-box loading ">
            </div>
        </div>

    </div>

    <!-- GRID -->

    <div class="grid" *ngIf="!isLoading && !scroll">
        <div class="row small-up-2">
            <div class="columns" *ngFor="let item of brands">
                <div class="margin-bottom-1">
                    <a [routerLink]="'/'+item.url_path">
                        <div class="image-container">
                            <span class="promo-label" *ngIf="item.promo">
                               {{item.promo}}
                            </span>
                            <img style="height: 120px!important;width: 200px!important;" width="169" height="120"
                                    class="lazy" [src]="item.image_2x">
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="callout padding-center">
            <button class="button small secondary expanded hollow" routerLink="/brand">
                View All Brand
            </button>
        </div>
    </div>
  

    <!-- SCROLL -->
    <div class="flex-container scroll-container"  *ngIf="!isLoading && scroll">
        <div class="flex-item scroll-item-45" *ngFor="let item of brands">
            <div class="card-global-two">
                <a [routerLink]="'/'+item.url_path">
                    <div class="image-container">
                    <img style="height: 120px!important;width: 200px!important;" width="169" height="120"
                            class="lazy" [src]="item.image_2x">
                    </div>
                    <div class="content-container">
                        <div class="label uppercase small-text">
                            {{item.name}}
                        </div>
                      
                    </div>
                </a>
            </div>
        </div>
    </div>

</section>
