<app-top-navigation-bar
[title] = title></app-top-navigation-bar>

<app-loading *ngIf="isLoading"></app-loading>

<div class="fullheight medium-grey-bg" *ngIf="!isLoading">
    <div class="callout padding-center white-bg margin-bottom-05 elevate" *ngIf="!hasAddresses()">
        <div class="flex-container">
            <div class="flex-item flex-1 text-center">
                You have no address(es)
            </div>
        </div>
    </div>
    <div class="callout padding-center">
        <div class="callout padding-center rounded white-bg margin-bottom-05 elevate" *ngFor="let item of addresses">
            <div class="flex-container padding-bottom-1">
                <div class="flex-item flex-3 margin-right-1">
                    
                    <div class="title">
                        {{item.location}}
                    </div>
                    <div class="subtitle margin-bottom-05">
                        {{item.street}}, {{item.city}}
                        {{item.region}} {{item.postcode}} 
    
                    </div>
                    
                    <div class="subtitle">
                        {{item.firstname}}
                    </div>
                  
                    <div class="subtitle">
                        {{item.telephone}}
                    </div>
                  
                    
                </div>
               
                <div class="flex-item flex-1 text-right">
                    <div *ngIf="isFromCheckout">
                        <button class="tiny button primary rounded expanded" [disabled] *ngIf="item.is_shipping_address">
                            Selected
                        </button>
                        <button class="tiny button secondary rounded expanded" *ngIf="!item.is_shipping_address" (click)="selectThisAddress(item.entity_id)">
                            Select
                        </button>
                    </div>
    
                    <button  class="tiny button secondary rounded expanded"
                    [routerLink]="[ '/customer/address/view/id/', item.entity_id]" [queryParams]="{referrer: referrer}"
                    >Edit</button>
                   
                 
                 </div>
                
            </div>
        </div>
    </div>
</div>

<div class="callout padding-center white-bg elevate stick-bottom border-top"
[hidden]="isScrollingDown">
    <a class="button expanded rounded primary" [routerLink]="[ '/customer/address/add']" [queryParams]="{referrer: referrer}">Add New Address</a>
</div>


