<div *ngIf="!isLoadingReviews">
    <div class="ratings" *ngIf="!reviews"> <span> 0.0</span>
        <div class="rating-box">
            <div class="rating" style="width:0%"></div>
        </div> <span>From 0 reviews(s)</span>
    </div>

    <div class="ratings" *ngIf="reviews"> <span>{{reviews.summary | number:'1.2-2'}} </span>
        <div class="rating-box">
            <div class="rating" [style.width]="reviews.percent+'%'"></div>
        </div> <span class="margin-left-05">From {{reviews.count}} reviews(s)</span>
    </div>
</div>
