.loader-container{
    height: 100vh;
    width: 100vw;
    z-index: 1200;
    background: white;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    
    img{
      z-index: 4;
      position: absolute;

      width: 15vw;
      height: 15vw;

      margin-left: auto;
      margin-right: auto;
      margin-top: auto;
      margin-bottom: auto;

      animation: fade-in 1s linear infinite;

      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }

    .loader {
      z-index: 3;
      position: absolute; 
      
      border: 16px solid transparent; /* Light grey */
      border-top: 16px solid #cacaca; /* Blue */
      border-radius: 100%;
      width: 18.5vw;
      height: 18.5vw;
      animation: spin 1s linear infinite;

      margin-left: auto;
      margin-right: auto;
      margin-top: auto;
      margin-bottom: auto;

      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }


    .loader2{
      z-index: 2;
      position: absolute; 
      
      border: 16px solid transparent; /* Light grey */
      border-top: 16px solid #aaaaaa; /* Blue */
      border-radius: 100%;
      width: 18.5vw;
      height: 18.5vw;
      animation: spin 2s linear infinite;

      margin-left: auto;
      margin-right: auto;
      margin-top: auto;
      margin-bottom: auto;

      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }

    .loader3{
      z-index: 1;
      position: absolute; 
      
      border: 16px solid transparent; /* Light grey */
      border-top: 16px solid #8a8a8a; /* Blue */
      border-radius: 100%;
      width: 18.5vw;
      height: 18.5vw;
      animation: spin 3s linear infinite;

      margin-left: auto;
      margin-right: auto;
      margin-top: auto;
      margin-bottom: auto;

      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
      
    @keyframes spin {
        0% {
          transform: rotate(0deg); }
        100% { 
          transform: rotate(360deg); }
    }

    @keyframes fade-in {
      0% { opacity: 0.5; }
      100% { opacity: 1.0;}
  }
}

.hide-splash{
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
}

.show-splash{
  opacity: 1;
  transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
}


no-scroll{
  overflow-y: hidden
}