<app-toast></app-toast>
<app-fcm></app-fcm>

<router-outlet [ngClass]="{
    'hide-splash':isLoading,
    'show-splash':!isLoading,
    'no-scroll': isLoading
}"></router-outlet>

<app-popup
(onClose)="closeModal($event)"
[isHalf]="true"
[title]="'Deal of this week'"
[name]="'promoPopup'" *ngIf="modal.promoPopup.isOpen">
    <div class="medium-grey-bg">
        <div class="callout group-list white-bg padding-center">
            <div class="flex-container">
                <div class="flex-item">
                    <img (click)="redirectPromo()" [src]="modal.promoPopup.deals.promotion_image">
                </div>
            </div>
            <div class="flex-container padding-bottom-1">
                <div class="flex-item">
                    {{modal.promoPopup.deals.promotion_description}}
                </div>
            </div>

            <!--
            <div class="flex-container">
                <div class="flex-item">
                    <input type="checkbox" (change)="toggleDoNotShowPromo($event)"> Don't show this for the next 24 hours
                </div>
            </div>
            -->
        </div>
    </div>
</app-popup>

<!--
<div class="loader-container"
*ngIf="!loaded"
[ngClass]="{
    'hide-splash':!isLoading,
    'show-splash':isLoading
}">
    <img src="https://wia.id/media/wysiwyg/logo/wia-logo.svg" alt="">
    <div class="loader"></div>

</div>
-->