<div [id]="name" [ngClass]="class">
    <div class="slideup-content">
        <div class="callout padding-center border-bottom elevate">
            <div class="flex-container align-center">
                
                <div class="flex-item flex-05 text-left margin-right-1">
                    <div class="icon" (click)="close()">
                        <fa-icon [icon]="faTimes"></fa-icon>
                    </div>
                </div>
                <div class="flex-item flex-4 title text-left" *ngIf="title">
                    {{title}}
                </div>
               
            </div>
        </div>
        
       <ng-content></ng-content>
    </div>
</div>