<app-top-navigation-bar [title]=title></app-top-navigation-bar>

<div class="fullheight padding-center">

    <div class="row">

        <div class="medium-12 columns">
            <form class="form margin-bottom-2" [formGroup]="changePassForm">
                <label for="email">Email</label>
                <input type="text" formControlName="email">

                <div *ngFor="let error of changePassForm.controls.email.errors | keyvalue">
                    <p class="error" *ngIf="!changePassForm.controls.email.pristine">{{formErrorMsg[error.key]}}</p>
                </div>

                <label for="password">Old Password</label>
                <input type="password" formControlName="password">

                <div *ngFor="let error of changePassForm.controls.password.errors | keyvalue">
                    <p class="error" *ngIf="!changePassForm.controls.password.pristine">{{formErrorMsg[error.key]}}</p>
                </div>


                <label for="password">New Password</label>
                <input type="password" formControlName="new_password">

                <div *ngFor="let error of changePassForm.controls.new_password.errors | keyvalue">
                    <p class="error" *ngIf="!changePassForm.controls.new_password.pristine">{{formErrorMsg[error.key]}}
                    </p>
                </div>

            </form>

            <button class="button expanded primary" [disabled]="!changePassForm.valid || isProcessing"
                (click)="sendResetPassword()">Change Password</button>

              

        </div>

    </div>


 






</div>