<div class="padding-center white navy-bg" *ngIf="!isLoading">
    <div class="callout padding-center">
        <div class="label-text medium" style=" color:white !important">
            <div class="label margin-bottom-05">
                {{featuredProducts.name}}
            </div>
            <div class="title" style=" color:white !important">
                {{featuredProducts.title}}
            </div>
            <div class="description">
                {{featuredProducts.short_description}}
            </div>
        </div>
    </div>
  
    <div class="flex-container scroll-container margin-bottom-05">
        <div class="flex-item scroll-item-45" *ngFor="let item of featuredProducts.products.items"
            [routerLink]="'/'+item.url_path">
            <div class="callout white-bg margin-bottom-05 text-center">
                <img height="150" width="150" [src]="item.featured_image.image_2x" alt="">
            </div>
            <div class="small-text">
                {{item.name}}

            </div>
            <div class="subtitle large-text">
                <div class="special-price" *ngIf="item.final_price && item.final_price != item.price; else regularPrice">
                    <div class="special-price">
                        {{item.final_price | currency:"IDR":"Rp"}}.00
                    </div>
                </div>

                <ng-template #regularPrice>
                    <div *ngIf="!item.special_price">
                        <div class="special-price">
                            {{item.price| currency:"IDR":"Rp"}}.00
                        </div>
                    </div>
                </ng-template>


            </div>
        </div>
    </div>
    <div class="callout padding-center">
        <button class="button small expanded secondary" [routerLink]="'/'+featuredProducts.url_path">
            View More
        </button>
    </div>
</div>

<div style="height: 65vh;" class="padding-center white loading" *ngIf="isLoading">
 
</div>