<div class="callout padding-center border-top light-grey-bg">
    <div class="flex-container margin-bottom-05" *ngIf="notInstalled">
        <div class="flex-item flex-1 margin-right-05 small-text">
            Add us to your homescreen
        </div>
        <div class="flex-item flex-1">
            <button class="button tiny rounded hollow navy expanded" (click)="addToHomeScreen()">+ Add</button>
        </div>
    </div>
    <div class="flex-container small-text">
        <div class="flex-item flex-3">
            2020 Wearinasia | All Right Reserved...
        </div>
        <div class="flex-item flex-05 text-right">
          
        </div>
        <div class="flex-item flex-05 text-right">
            
        </div>
    </div>
</div>