<app-top-navigation-bar
[title]="'New Review'">
</app-top-navigation-bar>

<div class="fullheight medium-grey-bg">


    <div class="form-containers">
        <form class="form" [formGroup]="reviewForm">
            
            <div class="callout white-bg elevate margin-bottom-05 text-center">
                <div class="label-text medium margin-bottom-0">
                    <div class="title">
                       Please Rate this product
                    </div>
                </div>
                
                <div class="flex-container text-center" style="justify-content: center;font-size: 20px; color: #999999;">
                    <div class="flex-item margin-right-1 text-center" 
                    *ngFor="let item of [].constructor(5); let i = index" 
                    [ngClass]="{'primary-color': i < reviewForm.controls.rating.value}" 
                    (click)="assignValue(i+1)">
                      
                        <fa-icon [icon]="faStar"></fa-icon>
                    </div>
                </div>
                <div class='flex-container'>
                    <div class='flex-item flex-1 text-center '>
                        {{comments[reviewForm.controls.rating.value] ? comments[reviewForm.controls.rating.value]:'Select a star..' }}
                    </div>
                </div>
            </div>

               <div class="label-text small padding-center">
                   <div class="title">
                        Add your review
                   </div>
               </div>

               <div class="callout padding-center white-bg">
                <label for="title">Review Summary</label>
                <input type="text" placeholder="Satisfied!" formControlName="title">
            
                <div *ngFor="let error of reviewForm.controls.title.errors | keyvalue">
                    <p class="error" *ngIf="!this.reviewForm.controls.title.pristine">{{formErrorMsg[error.key]}}</p>
                </div>
                <label for="reviews">Tell more about your shopping experience</label>
                <input type="text" placeholder="Pengiriman sangat cepat, produk sesuai dengan yang diharapkan" formControlName="reviews">
                <div *ngFor="let error of reviewForm.controls.reviews.errors | keyvalue">
                    <p class="error" *ngIf="!reviewForm.controls.reviews.pristine">{{formErrorMsg[error.key]}}</p>
                </div>
    
               
    
                <div  *ngFor="let error of reviewForm.controls.rating.errors | keyvalue">
                    <p class="error" *ngIf="!this.reviewForm.controls.rating.pristine">{{formErrorMsg[error.key]}}</p>
                </div>
               </div>
    
           
        
        </form>
    </div>

    <div class="callout padding-center white-bg elevate stick-bottom">
        <button class="button primary expanded" [disabled]="!reviewForm.valid" (click)="sendReview()">Submit</button>
    </div>
   
    
</div>


