 <div class="columns">
     <div class="card-goods-product-item border-bottom">
         <a [routerLink]="['/'+item.url_path]">
             <div class="flex-container">
                 <div class="flex-item flex-1 margin-right-05">
                     <div class="image">
                        <span class="stock-label" *ngIf="notInStock(); else inStock">
                            Out of stock
                        </span>
                        <ng-template #inStock>
                            <span class="sale text-center" *ngIf="getItemDiscountPercentage()">
                                {{getItemDiscountPercentage() |  number:'1.0-0'}}%
                            </span>
                        </ng-template>
                          
                        <img width="200" height="250" id="i{{item.entity_id}}"
                        class="lazy"
                        [src]="makeSrc()"
                        [ngClass]="{
                        'bw': notInStock()
                        }">
            
                            
                     </div>
                 </div>
                 <div class="flex-item flex-2">
                    <div class="margin-bottom-1">
                        <div class="label">{{item.brand}}</div>

                        <div class="title">{{item.name}}</div>
                    </div>
                    <div class="price">

                        <span class="special-price" *ngIf="isProductDiscounted(); else regularPrice">
                            <span class="title primary-color">
                                {{item.final_price | currency:"IDR":"Rp"}}.00
                            </span>
                            <span class="was-price tiny-text">
                                {{item.price | currency:"IDR":"Rp"}}.00
                            </span>
                           
                        </span>
                        <ng-template #regularPrice>
                            <div class="title">
                                {{item.final_price | currency:"IDR":"Rp"}}.00
                            </div>
                        </ng-template>


                    </div>
                    <div class="small-text margin-bottom-1">
                        Cicilan mulai dari {{getInstallmentTariff() | currency:'IDR':'Rp'}}.00/bln
                    </div>


                    <div class="tiny-text primary-color" *ngIf="item.promo">

                        <fa-icon [icon]="faTags"></fa-icon>
                        {{item.promo.description}} - {{item.promo.code}}
                    </div>
                
                 </div>
             </div>
         </a>
     </div>
 </div>
