a{
    color:#333
}

.card-goods-product-item .title{
    font-size: 14px;
}

.card-goods-product-item {
    margin: 0;
    margin-bottom: .5rem;
    padding: 0.5rem 0;
    border: none;
    border-bottom: 1px solid #eee;
}
.card-goods-product-item .label{
    font-size:10px;
}
.card-goods-product-item .image{
    padding:0.5rem;
    position: relative;
}
.card-goods-product-item .price{
    font-size: 16px;
}

.was-price{
    text-decoration: line-through;
    color:#999999
}
.stock-label{
    padding:3px 10px;
    font-size:10px;
    position:absolute;
    z-index: 99;
    color:white;
    text-outline: 0;left:0;background: #f57224;
}

.sale{
    padding:5px 7px;
    font-size:16px;
    position:absolute;
    font-weight: 600;
    color:white;
    left:0;background: #f57224;
}

.bw{
    opacity: 0.5;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}