<app-top-navigation-bar
[title]="title"></app-top-navigation-bar
    >

<div class="main-content medium-grey-bg" *ngIf="!isLoading">
    <div class="row collapse">
        <div class="medium-12 columns">
            <img [src]="detail.featured_image.image_3x"
            alt="">
        </div>
    </div>
    
    <div class="callout light-grey-bg padding-center margin-bottom-1">
        <div class="label-text medium">
            <div class="label">
                {{detail.label}}
            </div>
            <div class="title">
                {{detail.title}}
            </div>
            <div class="description margin-bottom-1">
               {{detail.short_description}}
            </div>

            <span class="button expanded secondary hollow" *ngIf="detail.code">
                Promo Code : {{detail.code}}
            </span>

            
        </div>
    </div>

    
   
        <div class="label-text small padding-center">
          
            <div class="title">
             TERMS & CONDITIONS
            </div>
          
        </div>
 
    
    <div class="callout padding-center white-bg">
        <div [innerHTML]="detail.term_conditions">
      
      </div>

      
    
</div>

