<app-top-navigation-bar [showSearch]=true [showChat]=true [showCart]=true [title]="title">
</app-top-navigation-bar>

<div *ngIf="isLoading">
    <app-card-placeholder-with-image></app-card-placeholder-with-image>
    <app-list-tile-with-image></app-list-tile-with-image>
    <app-list-tile-with-image></app-list-tile-with-image>
    <app-list-tile-with-image></app-list-tile-with-image>
</div>


<div *ngIf="!isLoading">
    <app-chips *ngIf="brand?.child_category != null" [list]="brand?.child_category" (id)="onSelectChip($event)">
    </app-chips>
    <div class="card-global-four" *ngIf="brand.featured_image.image_2x">
        <img height="600" width="700" [src]="brand.featured_image.image_2x" alt="">
        <div class="content-container">
            <div class="text-right">
                <span class="button tiny primary uppercase hide">
                    50% Off
                </span>
            </div>

            <div class="bottom" style="padding:4%">

                <div class="tiny-text text-right">
                    Official Online Retailer
                </div>

            </div>

        </div>
    </div>
    <div class="callout padding-center border-bottom label-text medium">
        <div class="title">
            {{brand.title}}
        </div>
        <div class="description margin-bottom-05" [innerHTML]="brand.short_description">
        </div>
        <div class="button secondary tiny hollow hide">
            Read More
        </div>
    </div>


</div>



<div class="padding-center" *ngIf="!isLoading">
    <div class="row small-up-1" *ngFor="let item of brand.products.items">
        <app-product-item [item]="item"></app-product-item>
    </div>
</div>

<app-lazy-loading
    *ngIf="!isLoading"
    [resourceURL]="catalogSvc.getCategoryViewURL" (onSuccessRetrieve)="onSuccessRetrieve($event)">
</app-lazy-loading>

<div *ngIf="!isLoading">
    <div class="callout padding-center label-text medium">
        <div class="title">
            Temukan Brand Lainnya
        </div>
    </div>
    <app-featured-brand ids="378,778,312"></app-featured-brand>
</div>

<app-bottom-navigation-bar></app-bottom-navigation-bar>