<app-top-navigation-bar [transparant]="true"></app-top-navigation-bar>

<div class="fullheight medium-grey-bg" *ngIf="!isLoading">
    <div class="card-global-four">
        <img height="500" width="700" [src]="campaign.featured_image.image_2x" alt="">
        <div class="content-container">

            <div class="bottom">
                <div class="title">
                    {{campaign.title}}
                </div>
            </div>
        </div>
    </div>

    <div class="list-group white-bg callout padding-center margin-bottom-05">
        <div class="list-tile">
            <div class="flex-container align-center">
                <div class="flex-item flex-05 margin-right-05">
                    <img height="50" width="50" [src]="campaign.profile_image.image_2x" alt="" class="avatar-image">
                </div>
                <div class="flex-item flex-3">
                    <div class="title">
                        {{campaign.name}}
                    </div>
                    <div class="subtitle">
                        {{campaign.short_description}}
                    </div>
                </div>
            </div>


        </div>
        <div class="list-tile">
            <div class="flex-container">
                <div class="flex-1">
                    <div class="title">
                        Progress
                    </div>

                </div>
                <div class="flex-1 text-right">
                    <div class="title">
                        {{campaign.campaign_progress | currency:"IDR":"Rp"}}
                    </div>
                </div>
            </div>
        </div>
        <div class="list-tile">
            <div class="flex-container">
                <div class="flex-1">
                    <div class="title">
                        Participant
                    </div>

                </div>
                <div class="flex-1 text-right">
                    <div class="title">
                        {{campaign.campaign_participant}}
                    </div>
                </div>
            </div>
        </div>
        <div class="list-tile">
            <div class="flex-container">
                <div class="flex-1">
                    <div class="title">
                        End Date
                    </div>

                </div>
                <div class="flex-1 text-right">
                    <div class="subtitle">
                        {{campaign.promo_end_date}}
                    </div>
                </div>
            </div>
        </div>
        <a [routerLink]="[ '/']" class="button expanded rounded">
            Shop to Participate
        </a>

    </div>

    <div class="callout padding-center elevate white-bg margin-bottom-05">

        <div class="label-text small margin-bottom-05">
            <div class="title">
                How to Participate
            </div>
        </div>
        <div class="subtitle" [innerHTML]="campaign.term_conditions">
        </div>



    </div>
    <div class="callout padding-center white-bg">
        <div class="label-text medium">
            <div class="title">
                About The Campaign
            </div>
        </div>
        <div class="subtitle" [innerHTML]="description">
        </div>
    </div>
</div>
