<div class="callout padding-center white-bg border-bottom">
    <div class="flex-container">
        <div class="flex-item flex-1 margin-right-05" >
            <div class="loading-box loading"></div>
        </div>
        <div class="flex-item flex-2 margin-right-05">
          <div>
            <span class="loading">PlaceholderPlaceholder</span>
          </div>
          <div>
            <span class="loading">Placeholder</span>
          </div>
           
          
        </div>
       
        
    </div>
</div>