.shake {
    /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
    color:brown
  }
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }


.was-price{
    text-decoration: line-through;
}

table{
    width: 100% !important;
  
}



.accordion {
    
   border-bottom: 1px solid #eeeeee !important;
    cursor: pointer;
    padding: 0.7rem 0;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
    transition: 0.1s;
    font-weight: 600;
}

/* .active, .accordion:hover {
    background-color: #ccc;
} */

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0.7rem 0;
    font-size: 12px;
    text-align: left !important;
   
}
.h3, h3 {
   
    font-size: 14px !important;
   
}
.option{
   
    font-size: 14px !important;
    font-weight: 500;
    line-height: 2.5rem;
    font-size:12px;
}
.stock{
    background: brown;
    padding: 4px 8px;
    color: white;
    position: absolute;
    top: 15px;
    left: 4%;
    font-size: 12px;
    z-index: 9;
    border-radius: 3px;

}
