<app-top-navigation-bar [showPromo]=true [showSearch]=true [showChat]=true [showCart]=true>
</app-top-navigation-bar>

<div *ngIf="isLoadingProduct">
    <app-card-placeholder-with-image></app-card-placeholder-with-image>
    <app-list-tile-with-image></app-list-tile-with-image>
    <app-list-tile-with-image></app-list-tile-with-image>
</div>

<div class="fullheight medium-grey-bg" *ngIf="!isLoadingProduct">
    <div class="promo-bar padding-center navy-bg white elevate small-text">
        <div *ngIf="product.promo">
            <fa-icon [icon]="faTags"></fa-icon> {{product.promo.description}} - PROMO CODE : {{product.promo.code}}
        </div>
        <div *ngIf="!product.promo">
            Gratis ongkos kirim ke seluruh Indonesia
        </div>
    </div>

    <div class="relative border-bottom white-bg margin-bottom-05">
        <span class="stock uppercase bold" *ngIf="!isProductOutOfStock()"> Stok Tersedia</span>
        <app-image-slider [images]="product?.images"></app-image-slider>
        <div class="callout padding-center">
            <div class="label-text large margin-bottom-0 border-bottom">
                <div class="flex-container horizontal justify-space-between align-end">
                    <div class="flex-item">
                        <a [href]="getBrandURL()">
                            <div class="label margin-bottom-05">
                                {{product.brand}}
                            </div>
                        </a>
                        <div class="title margin-bottom-05">
                            <h1 style="font-size:24px">{{product.name}}</h1>
                        </div>



                    </div>
                </div>

                <app-product-reviews-summary [productID]="product.entity_id"></app-product-reviews-summary>
                <div class="subtitle" *ngIf="isNonPromoItem()">
                    Non-promo item
                </div>
            </div>

            <div class="list-tile margin-bottom-05 border-bottom">
                <div class="flex-container align-center">
                    <div class="flex-item flex-2 title">

                        <span class="special-price" *ngIf="isProductDiscounted(); else regularPrice">
                            <span class="title primary-color">
                                {{product.final_price | currency:"IDR":"Rp"}}.00
                            </span>
                            <span class="was-price subtitle">
                                {{product.price | currency:"IDR":"Rp"}}.00
                            </span>

                        </span>
                        <ng-template #regularPrice>
                            <div class="title">
                                {{product.final_price | currency:"IDR":"Rp"}}.00
                            </div>
                        </ng-template>

                        <div class="subtitle">
                            Cicilan mulai dari {{generateInstallmentStartFrom()| currency:'IDR':'Rp'}}.00 / bln
                        </div>
                    </div>
                    <div class="flex-item flex-1 text-right">
                        <a class="bold subtitle" (click)="triggerModal('installment')">Simulasi
                            Cicilan <fa-icon [icon]=faChevronDown></fa-icon></a>
                    </div>
                </div>
            </div>


            <div class="presale small-text" *ngIf="product.is_presale == '1'">
                <div [innerHTML]="product.presale_pricelist"></div>
            </div>


            <div class="form" *ngIf="product.type_id == 'configurable'">
                <div *ngFor="let item of product.options">
                    <select class="option" (change)="changeProductOption(item.attribute_id,$event)">
                        <option disabled>Please select {{item.label}}</option>
                        <option [value]="value.value_index" *ngFor="let value of item.values">{{value.label}}
                        </option>
                    </select>
                </div>
            </div>

            <div class="callout alert padding-center light-grey-bg" *ngIf="hasFlashSaleTimeLeft()">
                <div class="flex-container align-center">
                    <div class="flex-item flex-1">
                        <div class="huge-text bold shake">
                          FLASHSALE!!!
                        </div>
                        
                    </div>
                    <div class="flex-item flex-1 text-right">
                        <div class="subtitle">
                            Berakhir dalam
                        </div>
                        <div class="title">
                            <fa-icon class="small-text shake" [icon]=faClock></fa-icon> {{createFlashSaleEndsCountdown()}}  
                        </div>
                    </div>
                </div>
            </div>

            <div class="callout white-bg text-center small-text" *ngIf="isProductOutOfStock(); else inStockButton">
                This product is currently out of stock
                <button class="button secondary expanded" (click)="notifyMe()">
                    Notify me
                </button>
            </div>

            <ng-template #inStockButton>
                <div class="callout white-bg">
                    <button class="button primary expanded" *ngIf="!isAddingToCart" [disabled]="!isOkToAddToCart"
                    (click)="addToCart()">
                    <span *ngIf="isProductPreorder()">Preorder</span>
                    <span *ngIf="!isProductPreorder()">Tambah ke Cart</span>
                </button>

                <button class="button primary expanded" disabled *ngIf="isAddingToCart">
                    Please wait..
                </button>
                </div>
            </ng-template>
    
            <app-product-usp></app-product-usp>
            <div class=" white-bg margin-bottom-1 border-top margin-top-1">
                <div *ngFor="let item of data;let i = index;">
                    <div class="accordion" (click)="toggleAccordian($event, i)"> {{item.title}} </div>
                    <div class="panel" [hidden]="!item.isActive" [innerHTML]="item.content">
                    </div>
                </div>
            </div>
            <app-product-related-campaign [productID]="product.entity_id"></app-product-related-campaign>

        </div>
    </div>


    <app-product-promos [productID]="product.entity_id"></app-product-promos>
    <app-store-usp></app-store-usp>
    <div class="margin-bottom-05">
        <app-customer-service></app-customer-service>
    </div>


    <app-product-reviews [productID]="product.entity_id"></app-product-reviews>



    <app-product-upsale [productID]="product.entity_id"></app-product-upsale>


    <div class="margin-bottom-05">
        <app-editors-pick></app-editors-pick>
    </div>

    <app-store></app-store>

    <div class="callout padding-center black-bg white elevate stick-bottom" *ngIf="showMiniCart">
        <div class="flex-container">
            <div class="flex-item flex-1">
                <div class="title white">
                    {{minicart.qty}} Item in Cart
                </div>
                <div class="subtitle white">
                    Subtotal {{minicart?.subtotal}}
                </div>
            </div>
            <div class="flex-item flex-1">
                <a class="button secondary expanded rounded" [routerLink]="[ '/secure/cart' ]">
                    <fa-icon [icon]="faShoppingBag"></fa-icon> Cart
                </a>
            </div>
        </div>
    </div>
</div>


<app-popup (onClose)="closeModal($event)" [isHalf]="false" [name]="'installment'" *ngIf="modal.installment">
    <app-product-installment [product]="product" [maximumInstallment]="product.installment"></app-product-installment>
</app-popup>