<section class="featured-category">
    <div class="flex-container scroll-container" *ngIf="isLoading">
        <div class="flex-item scroll-item-35" *ngFor="let item of [].constructor(4)">
            <div class="card-goods-product-two text-center">
                <div class="loading-box loading ">
                </div>
            </div>
        </div>
    </div>

    <div class="flex-container scroll-container" *ngIf="!isLoading">
        <div class="flex-item scroll-item-35" *ngFor="let item of categories; let i=index">
            <div class="card-goods-product-two text-center">
                <a [routerLink]="['/'+item.url_path]" routerLinkActive="activated">
                    <div class="card-image">
                        <img height="70" width="70" [src]="item.featured_image.image">

                    </div>
                    <div class="card-content">
                        <h2>
                            {{ item.name }}
                        </h2>

                    </div>
                </a>

            </div>
        </div>
    </div>

</section>