
.card-goods-product-two .card-image{ 
    margin-bottom: 0;
   
}
.flex-container .scroll-item-35 {
    -webkit-box-flex: 0;
    flex: none;
    margin-right: 2%;
}

.card-goods-product-two h2{
    font-size:12px;
    font-weight: 500;
}

.featured-category{
    padding: 3px 0;
}

.placeholder{
    height:50px;width:50px;border-radius: 100%;
    background-color: #eee;
    margin:3px
}

.activated{
    opacity: 50% !important;
}
