<app-top-navigation-bar [noBackButton]="true" [title]=title></app-top-navigation-bar>


<app-loading *ngIf="isLoading"></app-loading>

<div class="fullheight medium-grey-bg" *ngIf="!isLoading">
    <div class="border-bottom margin-bottom-05">
        <app-customer-service></app-customer-service>
    </div>

    <div *ngIf="isLoggedIn">
        
        <div class="label-text small padding-center" *ngIf="orderList.length !== 0">
            <div class="title">
                Order List
            </div>
        </div>
        <div class="callout padding-center">
            
            <div class="callout padding-center rounded margin-bottom-05 elevate white-bg"
            *ngIf="orderList.length == 0">
            <div class="flex-container">
                <div class="flex-item flex-1 text-center">
                    Kemu belum ada daftar belanja
                </div>
            </div>
            <a [routerLink]="[ '/']" class="button primary">Mulai Belanja</a>
        </div>

        <div class="callout padding-center rounded margin-bottom-05 border-bottom elevate white-bg"
            *ngFor="let order of orderList">

            <a [routerLink]="[ 'view/order_id/', order.entity_id]">
                <div class="flex-container">


                    <div class="flex-item flex-3 margin-right-05">

                        <!-- <div class="subtitle margin-bottom-05">
                        {{order.shipping_address.street  | slice:0:4}}
                        {{order.shipping_address.city}}, {{order.shipping_address.region}} {{order.shipping_address.region.postcode}}
                    </div> -->
                        <div class="subtitle margin-bottom-05">
                            {{order.status_label}}
                        </div>
                        <div class="title margin-bottom-05">
                            {{order.products[0].name}}

                        </div>


                        <div class="subtitle">
                            Total : {{order.grand_total | currency:'IDR':'Rp'}}.00
                        </div>
                        <div class="subtitle  margin-bottom-1">
                            Qty : {{order.products.length}}
                        </div>
                        <div class="subtitle  margin-bottom-1">
                            #{{order.increment_id}} | {{order.order_date | date}}
                        </div>

                        <button class="button secondary tiny"
                            [ngClass]="{'secondary': order.status=='canceled'}">
                            {{getActionButton(order.status)}}
                        </button>

                    </div>
                    <div class="flex-item flex-1 text-right">
                        <div class="image">
                            <img [src]="order.products[0].image" alt="">
                        </div>


                    </div>
                </div>
            </a>

        </div>
        </div>
    </div>

    <div *ngIf="!isLoggedIn">
        <div class="callout padding-center text-center">
            <div class="label-text medium">
                <div class="title">
                    Please Login
                </div>
                <div class="subtitle">
                    Silahkan melakukan login terlebih dahulu untuk melihat daftar pesanan kamu.
                </div>
            </div>
            <button class="button expanded" [routerLink]="['/','customer','account','login']">
                Login</button>
        </div>
    </div>

</div>
<app-bottom-navigation-bar>

</app-bottom-navigation-bar>