.chips-item{
    padding:0.7rem 1rem;
    border:1px solid #cccccc !important;
    font-size:12px;
    background-color: white;
    color:#333333;
    border-radius:25px;
    margin-bottom:0;
}
.chips-container{
    padding:0.7rem 0;
}

.flex-container .scroll-item-35 {
    -webkit-box-flex: 0;
    flex: none;
}

.selected{
    background-color: #f57224;
    color: white;
}