<div class="flex-container scroll-container chips-container border-bottom" *ngIf="childCategoryList != null">
    <div class="flex-item scroll-item-35" *ngFor="let item of childCategoryList; let i = index">
        <button (click)="emit(i)" class="chips-item selected" [ngClass]="active(i)">
            {{item.name}}
        </button>
    </div>
</div>

<div class="flex-container scroll-container chips-container  border-bottom" *ngIf="childCategoryList == null">
    <div class="flex-item scroll-item-35" *ngFor="let item of [].constructor(10)">
        <button class="chips-item loading">
            Loading..
        </button>
    </div>
</div>
