<div class="stick-bottom text-center">
    <button class="button tiny navy radius filter-button"
        (click)="show()">Show Filter</button>
</div>

<app-popup (onClose)="closeModal()" [isHalf]="false" [name]="'filterBy'" *ngIf="shown">
    <div class="fullheight medium-grey-bg">

        <div class="callout" *ngFor="let item of filters.filter">
            <div class="label-text small padding-center">
                <div class="title">
                    {{item.code}}
                </div>
            </div>
            <div class="list-tile padding-center white-bg" *ngFor="let option of item.options">
                <input type="checkbox" [(ngModel)]="filtersSelection[item.code][option.value]"
                    (change)="updateCurrFilters()" [value]="option.value" />
                <span (click)="toggleChip(item.code,option.value)">{{option.label}}</span>
            </div>
        </div>
        <div class="callout white-bg padding-center stick-bottom ">
            <button class="button expanded navy small elevate" (click)="applyFilter()">Apply filters</button>
        </div>
    </div>
</app-popup>