<div class="callout padding-center white-bg margin-bottom-05" *ngIf="!isLoadingReviews">
    <div *ngIf="reviews != null">
        <div class="flex-container align-center border-bottom">
            <div class="flex-item flex-2">
                <div class="label-text medium ">
                    <div class="title">
                        Lihat review dari {{reviews.count}} pembeli
                    </div>
                    <div class="subtitle">
                        Rating's {{reviews.percent/20 | number:'1.1-1'}} from {{reviews.count}} review(s)
                    </div>
                </div>
            </div>
            <div class="flex-item flex-1 text-right">
                <button class="button secondary tiny"
                    [routerLink]="['/','review','product','add',productID]">
                    Add Review
                </button>
            </div>
        </div>

        <app-review-item *ngFor="let item of reviews.reviews.slice(-2)" [review]="item">

        </app-review-item>

        <button class="button secondary expanded" [routerLink]="['/','review','product',productID]">
            View All {{reviews.count}} Review's
        </button>
    </div>

    <div *ngIf="reviews == null">
        <div class="flex-container align-center">
            <div class="flex-item flex-2">
                <div class="label-text medium ">
                    <div class="title">
                       Belum ada review untuk produk ini
                    </div>
                </div>
            </div>
            <div class="flex-item flex-1 text-right">
                <button class="button secondary tiny"
                    [routerLink]="['/','review','product','add',productID]">
                    Add Review
                </button>
            </div>
        </div>
    </div>


</div>