.flex-container .scroll-item-35 {
    flex: 0 0 20%;
}

.card-goods-product-item .title{
    font-size: 14px;
}

.card-goods-product-item {
    margin: 0;
    margin-bottom: .5rem;
    padding: 0;
    border: none;
    border-bottom: 1px solid #eee;
}
.card-goods-product-item .label{
    font-size:10px;
}

.filter-button{
    border-radius: 25px;
    
}