<app-top-navigation-bar [showSearch]=true [showChat]=true [showCart]=true [title]=name></app-top-navigation-bar>

<!-- <app-featured-categories class="hide"></app-featured-categories> -->

<div *ngIf="isLoading">
    <app-card-placeholder-with-image></app-card-placeholder-with-image>
    <app-list-tile-with-image></app-list-tile-with-image>
    <app-list-tile-with-image></app-list-tile-with-image>
    <app-list-tile-with-image></app-list-tile-with-image>
</div>

<div class="card-global-four" *ngIf="!isLoading && type=='editors_pick'">
    <img height="800" width="600" [src]="image" alt="">
    <div class="content-container">
        <div class="bottom">
            <div class="title" style="font-size: 25px;">
                {{title}}
            </div>
        </div>
    </div>
</div>

<app-chips *ngIf="hasFilters()" [list]="filters?.child_category"
    (id)="onSelectChip($event)">
</app-chips>

<app-chips *ngIf="isLoadingFilters" (id)="onSelectChip($event)">
</app-chips>

<app-featured-brand  *ngIf="isNotEditorsPick()" [ids]=ids [scroll]="true"></app-featured-brand>

<div class="padding-center" *ngIf="!isLoading">

    <app-filter-by 
        (filterChanges)="filterChanges($event)"
        [filters]="filters">
    </app-filter-by>

    <div class="row small-up-1" *ngFor="let item of category.products.items">
        <app-product-item [item]="item"></app-product-item>
    </div>

    <div class="row small-up-1" *ngIf="!category.products.items">
        <div class="flex-container">
            <div class="flex-item text-center flex-1">
                There are no items in this category
            </div>
        </div>
    </div>

    <app-lazy-loading
    [resourceURL]="catalogSvc.getCategoryViewURL" 
    [additionalParam]="filtersSelectionCSV"
    (onSuccessRetrieve)="onSuccessRetrieve($event)">
    </app-lazy-loading>
</div>

<div class="padding-center" *ngIf="isLoading">
    <app-list-tile-with-image *ngFor="let item of [].constructor(5)"></app-list-tile-with-image>
</div>