/* You can add global styles to this file, and also import other style files */
@import './../src/assets/css/app.css';
@import "../src/assets/css/font.css";
@import "../src/assets/css/rating.css";

// @import "../src/assets/css/onsen-css-components.min.css";
@import "../node_modules/@glidejs/glide/src/assets/sass/glide.core";
@import "../node_modules/@glidejs/glide/src/assets/sass/glide.theme";

.subtitle iframe,.panel iframe{
  max-width: 100% !important;
}

.panel h3,.panel h4, .panel h2{
  font-size: 14px;
}

.promo-icon{
  position: relative;
}

table{
  width: 100% !important;
}
table tr td{
  border-bottom: 1px solid #eeeeee !important;
}

//button
[disabled]{
  opacity: 0.8 !important;
}

.relative{
  position: relative;
}

.fc_frame{
  bottom:10% !important;
}

.avatar-image-placeholder{
  height: 35px;
  width: 35px;
  line-height: 35px;
  border-radius: 100%;
  color: white;
  background: #333333;
  text-align: center;
}


.navy-bg{
  background:#1d2b39;
}

.avatar-image {
  border-radius: 100%!important;
  -o-object-fit: cover;
  object-fit: cover;
  width: 50px;
  height: 50px;
}

.loading {
  border-radius: 3px;
    -webkit-animation: pulse 2s infinite; /* Safari 4+ */
  -moz-animation:    pulse 2s infinite; /* Fx 5+ */
  -o-animation:      pulse 2s infinite; /* Opera 12+ */
  animation:         pulse 2s infinite; /* IE 10+, Fx 29+ */
 }
 .loading-box{
   padding: 1rem;
   height: 100px;
   width: 100px;
   background: white;
   
  
 }

.spin {
  -webkit-animation: spin 3s infinite; /* Safari 4+ */
  -moz-animation:    spin 3s infinite; /* Fx 5+ */
  -o-animation:      spin 3s infinite; /* Opera 12+ */
  animation:         spin 3s infinite; /* IE 10+, Fx 29+ */
  
}

 .stick-bottom{
     bottom:0;
     position:fixed;
     width:100%;
     z-index: 99;
 }



@keyframes pulse {
    0% {
        color: #eeeeee;
        background-color: #eeeeee;
        border:none !important;
    }
    50% {
        color: #fafafa;
        background-color: #fafafa;
        border:none !important;
    }
    100% {
        color: #eeeeee;
        background-color: #eeeeee;
        border:none !important;
    }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



//FORM

.container {
    display: block;
    position: relative;
   
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: border 0.2s ease;
  }
  
  /* Hide the browser's default radio button */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    display: none;

  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    right: 0;
    height: 20px;
    width: 20px;
    border:2px solid #063241;
    border-radius: 50%;
    transition: border 0.2s ease;
    }
  

  
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
    top: 3px;
      left: 3px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #063241;
      transition: all 0.2s ease;
      }

      


      
.notification-pulse{
  width: 10px;
  height: 10px;
  position: absolute;
  right: 15px;
  top:0;
  border-radius: 100%;
  background: brown;

  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
transform: scale(1);
animation: notification-pulse 1s infinite;
}

@keyframes notification-pulse {
0% {
  transform: scale(0.60);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
}

70% {
  transform: scale(0.70);
  box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
}

100% {
  transform: scale(0.60);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}
}

.navigation-mobile-bottom{
  z-index: 99;
}