
  <button onclick="window.fcWidget.open();window.fcWidget.show();">Chat with us</button>
<script>
    window.fcWidget.init(
      { 
        token: "93e38ccb-2399-48be-b970-9610d6e5e097", 
        host: "https://wchat.freshchat.com"
      }
    );

    window.fcWidget.hide();
  </script>
  