
<div class="promo-container elevate  white-bg border"
*ngIf="promo && (promoExpirationNotSpecified() || !promoExpired())"
(click)="navigate()"
>
    <div class="image-container" *ngIf="promo.image">
        <img [src]="promo.image"
            alt="">
    </div>
        
    <div class="callout padding-center">
        <div class="margin-bottom-1">
            <div class="flex-container">
                <div class="flex-item flex-3">
                    <div class="title">
                        {{promo.name}}
                    </div>
                    <div class="subtitle">
                        {{promo.description}}
                    </div>
                </div>

                <div class="flex-item flex-1 text-right" *ngIf="promo.code">
                    <fa-icon [icon]="percentageIcon" class="icon"></fa-icon>
                </div>
            </div>

        </div>

        <div class="flex-container align-center" *ngIf="hasPromoCode()">
            <div class="flex-item flex-2">
                <div class="subtitle">
                    Promo Code
                </div>
                <div class="small-text bold uppercase margin-bottom-05">
                    {{promo.code}}
                </div>

                <div class="tiny-text primary-color">
                    <fa-icon [icon]="stopwatchIcon"></fa-icon>
                    {{generateTimeLeft()}}
                </div>

            </div>
            <div class="flex-item flex-1 text-right">
                <button class="button secondary tiny hollow" (click)="copyCode()">
                    Copy
                </button>
            </div>
        </div>
    </div>

</div>
