<div id="scrollArea">
    <div class="flex-container padding-bottom-1">
        <div class="flex-item flex-1 spin text-center" *ngIf="isLazyLoading">
            <fa-icon  [icon]="faLoad"></fa-icon>
        </div>
        <div class="flex-item flex-1 text-center" *ngIf="isMaximumOfList">
          
        </div>
    </div>
</div>
