.input-bar{
    width: 100%;
    height: 40px;
    margin:0;
    border-bottom: none !important;
    padding:0 1rem;
    background: #eeeeee;
}

.form input:focus {
    border-bottom: none !important;
    background: #eeeeee;
}
.search-container{
    position: relative;
}
.search-icon{
    position: absolute;
    left:  10px;
    top: 0;
    line-height: 40px;
    opacity: 0.2;

}