<div class="navigation-mobile-top elevate border-bottom">
    <div class="flex-container align-center">
        <div class="flex-item flex-05 text-left margin-right-1 text-center">
            <a (click)="goBack()">
                <div class="icon">
                    <fa-icon [icon]="faArrowLeft"></fa-icon>
                </div>
            </a>
        </div>

      
        
        <div class="flex-item flex-4 text-left margin-right-1">
           <div class="search-container">
            <input autofocus type="text" #searchBox
            class="input-bar" placeholder="Type a product or brand"
            [(ngModel)]="searchKey" (keyup)="query()">
            
            <fa-icon [hidden]="!isSearchEmpty()" class="search-icon" [icon]=faSearch></fa-icon>
           </div>
               
          
        </div>
      
        <div class="flex-item flex-05 text-center" (click)="clearSearch()">
            <fa-icon [icon]="faTimes"  *ngIf="!isSearchEmpty()"></fa-icon>
        </div>
    </div>
</div>

<div class="padding-centers">
  
    <div class="callout padding-center" *ngIf="!isMinimalSearchKey()">
        <div class="title">Brand Populer</div>
            <div class="list-tile" (click)="select(item.title)" *ngFor="let item of Brands">
                <div class="subtitle">
                {{item.title}}
                </div>
            </div>
    </div>

    <div class="callout" *ngIf="isMinimalSearchKey()">
        <div *ngIf="!isSearching">
            <div class="callout padding-center"  *ngIf="noSearchResult()">
                <div class="subtitle"> No search result</div>
            </div>

            <div class="padding-centers" *ngIf="!noSearchResult()">
                <div class="row small-up-1" *ngFor="let item of searchResult.items">
                    <app-product-item [item]="item"></app-product-item>
                </div>

                <div class="row small-up-1">
                    <button class='button expanded' (click)="loadMore()">
                        Load more
                    </button>
                </div>

            </div>
            
        </div>
        <div *ngIf="isSearching">
           <div class="callout padding-center">
            <div class="subtitle">Searching...</div>
           </div>
         </div>
    </div>
</div>